/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/


/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/

@import "partials/variables"; // import variables
@import "partials/typography"; // import typography
@import "partials/mixins"; // import mixins
@import "partials/ie_grid"; // import grid

// import everything inside media queries
@import "breakpoints/481up";
@import "breakpoints/768up";
@import "breakpoints/1030up";

/*
you can call the larger styles if you want, but there's really no need
*/


/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/

/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
/*-------------------------------------------
  RO: WHAT WE DO PAGE: MONEY PEOPLE PANEL
--------------------------------------------*/ 
.b-section_money-people {}
.b-section__wrap-outer_money-people{}
.b-section__wrap-inner_money-people{}
.b-money-panel {}
.b-money-panel__sentence {
  align-items: stretch;
}
.b-money-panel__sentence:first-child:after {
  align-self: center;
}

