/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/
%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  font-size: 1.05em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: $button-color;
  background: transparent;
  border: 2px solid $gray;
  padding: 0.7em 2.25em;
  cursor: pointer;
  vertical-align: middle;
  clear: both;
  @include transition(all 0.2s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $button-color;
    text-decoration: none;
    border: 2px solid $button-color-hover;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

.b-button_small {
  @extend %btn;
  padding: 0.35em 2.5em;
  font-size: 1em;
}

.b-button_flat {
  @extend %btn;

  &:hover, &:focus {

  }
  
  &:visited, &:focus {
    
  }
  
}

.b-button_flat_left {
  float: left;
}
.b-button_flat_right {
  float: right;
}


/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  //background-color: $blue;

  &:hover,
  &:focus {
    //background-color: darken($blue, 4%);
  } // end hover

  &:active {
    //background-color: darken($blue, 5%);
  } // end active

} // end blue button

.green-btn {
  @extend %btn; // here we load the btn defaults
  //background-color: #c5d646;

  &:hover,
  &:focus {
    //background-color: darken(#c5d646, 4%);
  } // end hover

  &:active {
    //background-color: darken(#c5d646, 5%);
  } // end active

} // end blue button
