/******************************************************************
Site Name:
Author:

Stylesheet: Form Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/

form {
  transition: opacity 500ms ease-in-out;

  &.hidden {
    opacity: 0;
  }

  > * {
    box-sizing: border-box;
    position: relative;
  }

  input { 
    width: 100%; 
    border: none;
    border-bottom: 1px solid $dark-gray;
    border-radius: 0;
    padding: 20px 10px;   
  }

  p {
    margin: 0 auto;
  }

}

fieldset {
  border-bottom: 1px solid $gray;
  padding-bottom: 25px;
}



label {
    color: $secondary-color;
    font-weight: bold;
        display: block;
    margin-bottom: .25em;
    transition: all 250ms ease-in-out;
    
    span {
      color: $darker-gray;
    }
    
    &.shrink {
      top: 100%;
      color: $dark-gray;
      font-size: 12px;
      width: auto;
    }

    &.error {
      color: $alert-red;
    }
}
  
.b-form__input {
  position: relative;

  br {
    display: none;
  }
}

.b-form__input_radio {
    border-bottom: 1px solid $gray;
    padding-bottom: 2em;
    margin-bottom: 3em;
}

.b-form__input_submit {
  margin-left: auto;
}

.b-form__input_side-label {
  label {
    display: inline-block;
    position: relative;
    margin-left: 0;
    padding: 0;
    font-size: 14px;
    vertical-align: text-bottom;
    pointer-events: all;
    transform: none;
  }
  
  input {
    vertical-align: middle;
  }
  
}


.b-form__group {
  margin-top: 25px;
  position: relative;
}

.b-form__group_halves {
  margin-top: 0;
  @include flex(row);
  @include flex-justify(space-between);
  flex-wrap: wrap;
  
  .b-form__input {
    flex-grow: 1;
    flex-basis: 100%;
    flex-shrink: 0;
    margin-top: 25px;
    
    @media screen and (min-width: 480px) {
      flex-basis: 49%;
      flex-grow: 0;
    }
    
  }
}

.b-form__group_halves_keep {
  .b-form__input {
    flex-basis: 49%;
    flex-grow: 0;
  }
}


input {
    display: block;
    
    &[type="text"],
    &[type="email"],
    &[type="tel"],
    &[type="password"] {
      width: 100%; 
      border-radius: 0;
      padding: 8px 10px;
      border: 3px solid $gray;
      margin-bottom: 0.75em;
      max-width: 500px;
      background-color: #fff;
      color: $text-color;
      outline: 0;
      -webkit-transition: 50ms border-color ease-in-out;
      transition: 50ms border-color ease-in-out;
    }

    &[type="submit"] {
      @extend %btn;
      display: block;
      margin-top: 2em;
      width: auto;
      display: inline-block;
      
      @media screen and (min-width: 480px) {
        //max-width: 49%;
      }

      &:hover {
        border-color: $button-color-hover;
      }
    }

    &[type="radio"] {
      text-align: center;
      margin: .5em auto;
      width: auto;

      + label {
        position: relative;
        cursor: pointer;
        padding-left: 32px !important;
        white-space: nowrap;

        &::before,
        &::after {
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            border-radius: 50%;
            cursor: pointer;
        }

        &::before {
            width: 20px;
            height: 20px;
            background: transparent;
            border: 2px solid #D9D9D9;
        }

        &::after {
            width: 14px;
            height: 14px;
            background: #D9D9D9;
            left: 5px;
        }
      }

      &:checked {
        + label {
          &::after {
            background: $primary-color;
          }
        }
      }
    }

    &[type="checkbox"] {
      width: 20px;
      height: 17px;
      clear: left;
      display: inline-block;
      vertical-align: text-bottom;

      + label {
        
      }
    }
}

select {
  min-width: 180px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-size: 12px;
  border: 3px solid $gray;
  padding: 8px 12px;
  margin-bottom: 0.75em;
  min-width: 50%;
}

//Radio Button Questions
.b-label_radio-question {
  font-weight: normal;
  margin-bottom: 1.5em;
}
/* WPCF7 Radio Buttons */
.wpcf7-form-control.wpcf7-radio {
  //@include flex(row);
  //@include flex-justify(flex-start);
}
span.wpcf7-list-item {
      margin: 0 7% 0 0;
    text-align: center;
}
.wpcf7-list-item-label {
  font-weight: bold;
}
