/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*-------------------------------------------
GENERAL STYLES
--------------------------------------------*/

body {
  cursor: auto;

}
#container {

padding-bottom: 50px;

&:after {
  /*display: block;
  position: fixed;
  content: "";
  background: $white;
  bottom: 0;
  height: 50px;
  width: 100%;
      z-index: 3000;*/
}
}
/*---WYSIWYG CONTENT---*/
.b-wysiwyg {

  p {
  }
  
  ul, ol, table, dl {}
  
  ul, ol {
    
    li {
    }
  
  }
  
  ul {
  
    li {}
  
  }
  
  ol {
  
    li {
    }
  
  }
}
/*--- H TAG STYLES---*/
h1, .h1 {
  
  small, span {
  }
}

h2, .h2 {
  small, span {
  }
}

h3, .h3 { 
  small, span {
  }
}

h4, .h4 {  
  small, span {
  }
}


h5, .h5 {  
  small {
  }
}
h6, .h6 {
  small {
  }
}
.wrap {
  width: 90%;
  
}

/*-------------------------------------------
HEADER STYLES
--------------------------------------------*/
.b-header__logo {
    

    a {
    }
}
.b-header__inner {

}
/*-------------------------------------------
FOOTER STYLES
--------------------------------------------*/
.b-footer {
}
.b-footer__inner {
}
.b-footer__inner_top {

}
.b-footer__inner_bottom {
}



/*-------------------------------------------
NAVIGATION STYLES
--------------------------------------------*/
/*
 * Main Menu
 */
.b-menu_main {

}
.b-menu__list_main {
  flex-wrap: nowrap;
  li {
    a, a:hover, a:focus {
      //padding: 42px 3px;
    }
  }
}
/*
 * Highlighted Main Menu
 */
.b-menu_highlighted {
  //order: 3;
  //margin-top: 30px;
}
.b-menu__list_highlighted {
  
}
/*
 * Utility Menu
 */

.b-menu_ute {
  max-width: 60%;
  margin-bottom: 0;
}
.b-menu__list_ute {
  
}
/*
 * SubMenu
 */
.b-menu_submenu {

}

/*-------------------------------------------------
 HEADLINES
---------------------------------------------------*/
.b-headline {
  font-size: 1.75em;
  

  span {

  }
  
}



/*-------------------------------------------------
 HOMEPAGE SCROLL MORE (INSERTED VIA JS)
---------------------------------------------------*/
.b-scroll-more {

  &:after {

  }
}

/*********************
POSTS & CONTENT STYLES
*********************/
.b-single-post-header {
    width: 90%;
    max-width: 90%;
}
.b-single-post {
    padding-top: 2em;
}
//AUTHOR BIO BOX (END OF POSTS)
.b-author-box {}
.b-author-box__wrap {}
.b-author-box__photo {}
.b-author-box__image {}
.b-author-box__content {}
.b-author-box__name {}
.b-author-box__title {}
.b-author-box__link {}

/*-------------------------------------------
INDEX/ARCHIVE STYLES
--------------------------------------------*/
.b-regular-post {
  @include flex-justify(space-evenly);
  width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.b-regular-post__item {
    flex-basis: 48%;
}
.b-regular-post-item__image {}
.b-regular-post-item__title {}

.b-posts-page {}
.b-posts {}
.b-regular-post {  
  &:last-child {}
}
.b-regular-post__meta {}
.b-regular-post__image {}
.b-regular-post__image-link {  
  &:hover {
      .b-regular-post__image_hover{}
    }
}
.b-regular-post__image_hover{}
.b-regular-post__title {  
  a {
    &:visited, &:hover, &:visited {}
  }
}
.b-regular-post__text {}
.b-regular-post__button {}
/*-------------------------------------------
 FEATURED POSTS ON INDEX PAGE
--------------------------------------------*/
.b-section-featured-posts {}
.b-section__wrap-outer_featured-posts{}
.b-section__wrap-inner_featured-posts {}
.b-featured-posts__wrap {}
.b-featured-post {}
.b-featured-post__inner {}
.b-featured-posts__title {}
.b-resp-image_featured-post {}
.b-featured-post__content {}
.b-resp-image_featured-post {
  img {
    /*left: 0;
    transform: translate(0, 0);*/
  }
}
.b-featured-post__thumbnail {}
.b-resp-image_sidebar {}
.b-featured-post__headline {}
.b-featured-post__text {}
.b-featured-post__button {}
//STICKY POST
.b-featured-post_sticky {
  
  .b-featured-post__inner {}
  .b-resp-image_featured-post {
    img {}
  }
  
  .b-featured-post__content {
    padding: 4em 14% 6em 7%;
  }
  
  .b-featured-post__headline {
    font-size: 2.75em;
    margin-left: -2px;
  }
  .b-featured-post__text {}
  .b-featured-post__button {}
}
// END STICKY POST

/*-------------------------------------------------
 Section Block
---------------------------------------------------*/
.b-section__wrap-inner {
  padding: 4em 0;
}
//Use for blocks that have a full photo background, but still need spacing outside of them;
.b-section_outer-pad {
  margin: 4em auto;
}
.b-section_outer-pad.b-section_collapsed-top {
  margin: 0em auto 4em;
  
  .b-section__wrap-inner {
    padding-top: 4em;
  }
}
.b-section_outer-pad.b-section_collapsed-bottom {
  margin: 4em auto 0em;
  
  .b-section__wrap-inner {
    padding-bottom: 4em;
  }
}
.b-section_outer-pad.b-section_collapsed-both {
  margin: 0em auto 0em;
  
  .b-section__wrap-inner {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
.b-section_tucked-title {
    margin-top: 6.5em;
}
.b-section__title {}
.b-section__intro {}



/*-------------------------------------------
 SECTION INTRO TEXT (reusable section header)
--------------------------------------------*/
.b-big-title__headline, .b-headline__big-title {
  font-size: 3em;
}
.b-intro__text_big-title {
    font-size: 1.2em;
}
a.b-section-intro__button {
  font-size: 1.05em;
}
/*-------------------------------------------
 COLORED BLOCK LISTS
--------------------------------------------*/

/*-------------------------------------------
 COUNTDOWN CLOCK (FLIP CLOCK JS PLUG-IN)
--------------------------------------------*/

/*-------------------------------------------
 FAQs
--------------------------------------------*/

/*-------------------------------------------
 FEATURE CARDS
--------------------------------------------*/
.b-section__wrap-inner_feature-cards_default {
  padding: 4em 0 2em;
}
.b-feature-cards__title {
    margin-top: -2.5em;
}
/*-------------------------------------------
 RO: FEATURED EVENTS
--------------------------------------------*/
.b-section-featured-events {}
.b-section__wrap-outer_featured-events {

}
.b-section__wrap-inner_featured-events {}
.b-featured-events__title {}
.b-featured-events {}
.b-featured-events__wrap {}
.b-feature-event {}
.b-feature-event__inner {}
.b-feature-event__dates {}
.b-feature-event__date {}
.b-feature-event__date_start {}
.b-feature-event__date_end {}
.b-feature-event__times {}
.b-feature-event__time {}
.b-feature-event__time_start {}
.b-feature-event__time_end {}
.b-featured-event__location-splitter {}
.b-featured-event__location {}
.b-feature-event__content {}
.b-feature-event__headline {}
.b-feature-event__text {}
.b-feature-event__link {}

/*-------------------------------------------
 FEATURE WITH ICON
--------------------------------------------*/





/*-------------------------------------------
 FEATURED NEWS & PRESS
--------------------------------------------*/
.b-section-featured-news-items {}
.b-section__wrap-outer_featured-news-items{}
.b-section__wrap-inner_featured-news-items {}
.b-featured-news__title {}
.b-featured-news-items {
  margin-top: 1.5em;
}
.b-featured-news {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    vertical-align: top;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.b-featured-news__inner {
  padding: 0;
  overflow: hidden;
  position: relative;
}
.b-featured-news__icon {
  width: 50px;
  height: 50px;
  float: none;
  margin-right: auto;
  margin-left: auto;
}
.b-featured-news__meta {
  color: #bebebe;
}
.b-featured-news__content {}
.b-featured-news__headline {
  margin-top: 0.75em;
}
.b-featured-news__text {}
.b-featured-news__button {}
.b-featured-news__bloglink { 
    a {}
}

/*-------------------------------------------
 RO: CHARTS
--------------------------------------------*/
.b-section_chart {}
.b-section__wrap-outer_chart {}
.b-section__wrap-inner_chart {}
.b-section__title_chart {
  margin-top: -2.5em;
}
.b-chart-contents {}

//text side
.b-chartblock__text-content {}
.b-chartblock__headline {
  font-size: 4em;
}
.b-chartblock__subhead {}
.b-chartblock__text {}
.b-chartblock__button {}

//chart side
.b-chartblock__chart {

  iframe {}
}
.b-chart-key {}
.b-chart-key__datum {}
.b-datum__color {}
.b-datum__label, .b-datum__value {}
.b-datum__value {}
.b-datum__value:after {}
/*-------------------------------------------
 GROUPED CONTENT WITH SORTER
--------------------------------------------*/
.b-section_grouped-content {}
.b-section__wrap-outer_grouped {}
.b-section__wrap-inner_grouped {}
.b-section_grouped-content {}
.b-section__wrap-outer_grouped {}
.b-section__wrap-inner_grouped {}
// MENU / SORT SELECT
.b-group-sortbar {}
.b-select_sortbar {}

// select box style sorting
.b-group-sortbar_dropdown {}
.b-group-sortbar__detail {}

//list style sorting
.b-group-sortbar_menu {}
.b-label__sortbar_menu {}
.b-group-sortbar__list {}
.b-group-sortbar__list-item {

    a {}
}
/*-------------------------------------------
  RO: HALF PHOTO REPEATER
--------------------------------------------*/
.b-section_halves {}
.b-half-photos__title {
  margin-bottom: -0.4em;
}
.b-section__wrap-outer_halves {

}
.b-section__wrap-inner_halves {
  padding: 0;
}
.b-half-tiles {}
.b-half-tile {}
.b-half-tile__inner {}
.b-half-tile__photo {}
.b-halfphoto__img {}
.b-half-tile__headline {}
.b-half-tile__subhead {}
.b-half-tile__text {}
/*-------------------------------------------
 HOVER VIDEO PANELS
--------------------------------------------*/
.b-section_hover-panels {}
.b-section__wrap-outer_hover-panels {}
.b-section__wrap-inner_hover-panels {
  padding: 0;
}
.b-hover-panels {}
.b-hover-panel {}
.b-hover-panel__inner {
  min-height: 700px;
}
.b-hover-panel__cover-image {
  a {}
}
.b-hover-panel__headline {
  font-size: 1.65em;
}
.b-hover-panel__text {
  
  p:first-child {}
  
  p:last-child {}
  
  img {}
}
.b-hover-panel__button {}
.b-hover-panel__button_icon {}


/*-------------------------------------------
  RO: IFRAME AND SCRIPTS BUCKET
--------------------------------------------*/
.b-section_scripts {}
.b-section__wrap-outer_scripts {}
.b-section__wrap-inner_scripts {}
.b-script-holder {
  border-bottom: none;
  //padding-bottom: 70%;
  iframe {}
}

/*-------------------------------------------
 RO: PAGE HEADER: HERO
--------------------------------------------*/
.b-section_hero {
  width: 90%;
  max-width: 90%;

}
.b-hero__headline {
  max-width: 70%;
  font-size: 4em;
}

/* SUBPAGE LAYOUT */
.b-section_hero_subpage {
  min-height: 325px;
}
.b-section__wrap-outer_subpage {
}
.b-section__wrap-inner_subpage {
  padding: 0;
}
.b-hero_headline-holder {
  min-height: 3.25em;
}
.b-hero__headline_subpage {
  max-width: none;
  font-size: 2.25em;
}


.b-hero-slide__buttons {
}
a.b-hero-slide__button {
  &:hover, &:focus {
  }
}
.b-video-background {
  display: block;
  height: 100%;
    position: absolute;
    //z-index: 2;
}
.b-hero__headline_video {
  //opacity: 0;
}
.b-scroll-more {
  bottom: 25px;
  }

.b-section_hero_video {
  .b-scroll-more {
  }
}

object-fit {
  object-fit {
    display: inline-block !important;
  }
}

/*-------------------------------------------
  RO: INTRODUCTION TEXT
--------------------------------------------*/
.b-section_intro {}
.b-section__wrap-outer_intro {

}
.b-section__wrap-inner_intro {}
.b-intro__headline {
  font-size: 1em;
  text-transform: uppercase;
}
.b-intro__text {
  
  p {
   
    &:first-child {
      font-size: 1.5em;
    }
  }
}
.b-text-columns-span {
  flex-basis: 48%;
}
.b-section_intro_subpage {
  .b-section__wrap-inner_intro {
    padding-top: 2em;
  }
}
/*-------------------------------------------
  RO: BODY TEXT
--------------------------------------------*/
.b-section_intro {

}
.b-section__wrap-outer_bodytext {

}
.b-bodytext__headline {
  font-size: 1.5em;
}
.b-bodytext__text {
  
  p {
    
    margin-left: auto;
    margin-right: auto;

  }
}

/*-------------------------------------------
  RO: OVERVIEW (SHARES WITH BODY TEXT)
--------------------------------------------*/
.b-section__wrap-outer_overview {
    max-width: 728px;
}
.b-section__wrap-inner_overview {

}
.b-bodytext__overview {

}
.b-section-label {
  flex-shrink: 1;
  flex-basis: 25%;
  text-align: left;
  max-width: 150px;
  @include flex(row);
  align-items: flex-start;
}
.b-section-label__number {
  
}
.b-section-label__text {
  
}
.b-overview__body {

}


/*-------------------------------------------
  RO: STATISTICS / STATS
--------------------------------------------*/
.b-stats {
  @include flex-justify(space-evenly);
}
.b-stat {}
.b-stat__value {
  font-size: 4em;
  
  span {
    font-size: 0.5em;
  }
}
.b-stat__label {
  font-size: 0.875em;
}
/*-------------------------------------------
  RO: PHOTO BREAK
--------------------------------------------*/
.b-photo-break {
  min-height: 380px;
}
.b-photo-break_tall {
  min-height: 455px;
}
/*-------------------------------------------
  RO: PHOTO MENU
--------------------------------------------*/
.b-section_photo-menu {
}
.b-section__wrap-outer_photo-menu {

}
.b-section__wrap-inner_photo-menu {
  
}
.b-photo-menu__headline {
  
}
.b-photo-menu__text {
  font-size: 1.375em;
}
.b-photo-menu {
  
}
.b-photo-menu__item {
  font-size: 1.5em;
}
.b-photo-menu__button{
  
}
/*-------------------------------------------
  RO: MAP MENU
--------------------------------------------*/
.b-section_map-menu {
}
.b-section__wrap-outer_map-menu {

}
.b-section__wrap-inner_map-menu {
  
}
.b-map-menu__headline {
  
}
.b-map-menu__text {
  font-size: 1.375em;
}
.b-map-menu {
  
}
.b-map-menu__item {
  font-size: 1.5em;
}
.b-map-menu__button{
  
}
/*-------------------------------------------
  RO: RELATED PAGES
--------------------------------------------*/
.b-section_relpages {}
.b-section__wrap-outer_relpages {}
.b-section__wrap-inner_relpages {}
.b-relpages {}
.b-relpage {}
.b-relpage__inner {}
.b-resp-image_relpage {}
.b-image_relpage {}
.b-relpage__headline {}
.b-relpage__text {
  width: 78%;
}

/*-------------------------------------------
  RO: TEXT OVER PHOTO
--------------------------------------------*/
.b-section-textphoto {
  width: 90%;
  min-height: 545px;
  max-width: 90%;

}
.b-section__wrap-outer_textphoto {

}
.b-section__wrap-inner_textphoto {}
.b-section-textphoto__title {
  //font-size: 1.75em;
}
.b-section-textphoto__text {
  p {
    font-size: 1.5em;
  }
}
.b-section-textphoto__button {
  margin-top: 1.25em;
}
.b-section_collapsed-top {
  .b-section__wrap-inner_textphoto {
    padding-top: 4em !important;
  }
}
/*-------------------------------------------
  RO: CTA OVER VIDEO (PHOTO BACKUP)
--------------------------------------------*/
.b-section_cta-video {
  min-height: 524px;
}
.b-video-background {

}
.b-section__wrap-outer_cta-video {

}
.b-cta-bar {}
.b-cta-bar__title {
  max-width: 100%;
}
.b-cta-bar__text {
  padding-left: 3%;
}
.b-cta-bar__button {
  
}

/*-------------------------------------------
  RO: TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {}
.b-section__wrap-outer_text-side-image{

}
.b-section__wrap-inner_text-side-image{}

.b-text-side-image__content {}
.b-side-text_left {}
.b-side-text_right {}
//image content
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {}
.b-side-photo {}
.b-side-photo__image{}
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {
  flex-basis: 44%;
}
.b-side-photo {}
.b-side-photo__image{}

.b-side-photos_1 {
  .b-side-photo {}
  
  .b-side-photo:first-child {}
  
  &.t-1of3 {
    .b-side-photo {}
  }
}
.b-side-photos_2 {
  
  .b-side-photo {}
  .b-side-photo:first-child {}
  .b-side-photo:last-child {}
  
  &.t-1of3 {    
    .b-side-photo {}
    .b-side-photo:first-child {}
  }
}
.b-side-photos_3 {
  
  .b-side-photo {}
  .b-side-photo:first-child {}
  .b-side-photo:nth-child(2) {}
  .b-side-photo:last-child {
    .b-side-photo__image{}
  }
  
  &.d-1of3 {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    
    .b-side-photo {
      flex-basis: 46%;
      margin-bottom: 0%;
    }
    .b-side-photo:first-child {
      margin-bottom: 8%;
    }
    .b-side-photo:last-child {
      break-before: column;
      margin-bottom: 0;
      padding-bottom: 164%;
    }
  }
  
}
.b-side-photos_4 {
  .b-side-photo {}
  .b-side-photo:first-child {}
  .b-side-photo:nth-child(3) {}
}
.b-side-photo__image{}
//text content
.b-side-text {
  padding: 0;
  flex-basis: 48%;
}
.b-side-text__subheadline{}
.b-side-text__text{}


/*-------------------------------------------
 RO: FEATURED PROGRAMS
--------------------------------------------*/
.b-section-featured-programs {}
.b-section__wrap-outer_featured-programs {
}
.b-section__wrap-inner_featured-programs {
}

.b-featured-programs {
}


/*-------------------------------------------------------
  RO: TEXT WITH THIRD PARTY SCRIPT (SOCIAL MEDIA FEED)
-------------------------------------------------------*/
.b-section_text-script {}
.b-section__wrap-outer_text-script{}
.b-section__wrap-inner_text-script{}
.b-text-script__content {}

//text content
.b-text-script__copy {}
.b-text-script__copy_left {}
.b-text-script__copy_right {}

.b-text-script__headline{}
.b-text-script__subheadline{}
.b-text-script__text{
  p {}
  a, img {}
}
.b-text-script__button {}

//third party script content
.b-text-script__script {}
.b-text-script__script_left {}
.b-text-script__script_right {}
.b-third-party-script {}

/*-------------------------------------------
  RO: TEXT EDITOR BLOCK
--------------------------------------------*/
.b-section_textedit {

}
.b-section__wrap-outer_textedit {
   // max-width: 1100px;
}

/*-------------------------------------------
 RO: FAQs
--------------------------------------------*/
.b-section__wrap-outer_faq {}





/*-------------------------------------------
 ICON LIST (OR CAROUSEL)
--------------------------------------------*/
.b-section_icon-list {}
.b-section__wrap-outer_icon-list {}
.b-section__wrap-inner_icon-list {}
.b-section__title_icon-list {}
.b-section__intro_icon-list {}
.b-icon-list {}
.b-icon {}
.b-icon__inner {}
.b-icon__link {}
.b-icon__img {}
.b-icon__text {}
.b-icon__button {}

/*** CAROUSEL VERSION ***/
.b-section_icon-list .bx-viewport {}
.b-section_icon-list .bx-wrapper {}
.b-icon-list.js_icon_carousel {}
.b-icon-carousel-slide {}
 


/*-------------------------------------------
 RO: COACHES PAGE 
--------------------------------------------*/
.b-section-coaches {}
.b-section__wrap-outer_coaches {}
.b-section__wrap-inner_coaches {}
.b-coaches {}
.b-coach {}
.b-coach__photo {}
.b-coach__image {}
.b-coach__details {}
.b-coach__name {}
.b-coach__title {}

/*-------------------------------------------
 RO: SINGLE EMPLOYEE/COACH PAGE 
--------------------------------------------*/
.b-empoyee-header {
  margin-bottom: 6em;
}
.b-section__wrap-outer_empoyee-header {}
.b-section__wrap-inner_empoyee-header {}
.b-empoyee-header__backlink {}
.empoyee-header__profile {
  margin-bottom: -10em;
}
.b-employee__photo {}
.b-employee__image {}
.b-employee-details {
  font-size: 1em;
}
.b-employee-details__name {}
.b-employee-details__title {
  font-size: 1.5em;
}
.b-employee-details__phone {}
.b-employee-details__email {}
.b-employee-social-sites {}
.b-employee-social-site {}
.b-employee-social-site__link {}
.b-empoyee-body {}
.b-section__wrap-outer_empoyee-body {
  max-width: 60%;
}
.b-section__wrap-inner_empoyee-body {}
.b-wysiwyg_employee-bio {}


/*-------------------------------------------
 RO: BIZ OPS PAGE 
--------------------------------------------*/
.b-section-boards {}
.b-section__wrap-outer_boards {}
.b-section__wrap-inner_boards {}
.b-section__title_boards {}
.b-boards {}
.b-board {
  
  &:first-child {
    margin-top: 8em;
  }
}
.b-board__name {
  margin-bottom: 0.6em;
}
.b-board__members {}
.b-board-member {

}
.b-board-member__name {}
.b-board-member__position {}
.b-board-member__title {}

/*-------------------------------------------
  QUOTE CAROUSEL
--------------------------------------------*/
.b-section_quotes {
max-width: 90%;

}
.b-section__wrap-outer_quotes {
  width: 62%;
  max-width: 900px;
}
.b-section__wrap-inner_quotes {}
.b-quote__body {

}
.b-quote__words:before {
}
.b-quote__words:after {
}
.b-quote__attribution {

}
/*-------------------------------------------
 VIDEO FEATURE
--------------------------------------------*/ 
.b-section_video-feature__headline {
    margin-bottom: 0.4em;
    font-size: 3em;
  }
.b-video-poster {
  padding-right: 0;
}

/*----------------------------------------------
 RO: PLUGINS
 ---------------------------------------------*/
//ADDTHIS SOCIAL SHARING
.b-share-buttons {
  padding-top: 6.6em;
}
.b-share-button {
  
}
/* FULLPAGE.JS */
.fp-section {
  .b-section__wrap-outer {
      padding-left: 18.5%;
      padding-right: 14%;
      max-width: 1400px;
  }
  
  &.b-section_quotes {
    .b-section__wrap-outer {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &.b-section_hero {
    .b-section__wrap-outer {
      padding-left: 0;
      padding-right: 0;
    }
  }
}