/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
/*-------------------------------------------
GENERAL STYLES
--------------------------------------------*/

body {}

/*---WYSIWYG CONTENT---*/
.b-wysiwyg {

  p {
    line-height: 1.4;
    font-size: 1.125em;
  }
  
  ul, ol, table, dl {}
  
  ul, ol {
    font-size: 1.125em;
    li {
    }
  
  }
  
  ul {
  
    li {}
  
  }
  
  ol {
  
    li {
    }
  
  }
  blockquote {
    font-size: 1em;
  }
}
/*--- H TAG STYLES---*/
h1, .h1 {
  
  small, span {
  }
}

h2, .h2 {
  small, span {
  }
}

h3, .h3 { 
  small, span {
  }
}

h4, .h4 {  
  small, span {
  }
}


h5, .h5 {  
  small {
  }
}
h6, .h6 {
  small {
  }
}
.wrap {
  max-width: 1400px;
}


/*-------------------------------------------
HEADER STYLES
--------------------------------------------*/
.b-header__logo {
    a {
    }
}
.b-header__inner {

}

/*-------------------------------------------
FOOTER STYLES
--------------------------------------------*/
.b-footer {
}
.b-footer__inner {

}
.b-footer__inner_top {

}
.b-footer__inner_bottom {
}
/*********************
POSTS & CONTENT STYLES
*********************/
.b-single-post-header {
min-height: 700px;
}

//AUTHOR BIO BOX (END OF POSTS)
.b-author-box {}
.b-author-box__wrap {}
.b-author-box__photo {}
.b-author-box__image {}
.b-author-box__content {}
.b-author-box__name {}
.b-author-box__title {}
.b-author-box__link {}

/*-------------------------------------------
INDEX/ARCHIVE STYLES
--------------------------------------------*/
.b-regular-post {}
.b-regular-post__item {}
.b-regular-post-item__image {}
.b-regular-post-item__title {}

.b-posts-page {}
.b-posts {}
.b-regular-post {  
  &:last-child {}
}
.b-regular-post__meta {}
.b-regular-post__image {}
.b-regular-post__image-link {  
  &:hover {
      .b-regular-post__image_hover{}
    }
}
.b-regular-post__image_hover{}
.b-regular-post__title {  
  a {
    &:visited, &:hover, &:visited {}
  }
}
.b-regular-post__text {}
.b-regular-post__button {}
/*-------------------------------------------
 FEATURED POSTS ON INDEX PAGE
--------------------------------------------*/
.b-section-featured-posts {}
.b-section__wrap-outer_featured-posts{}
.b-section__wrap-inner_featured-posts {}
.b-featured-posts__wrap {}
.b-featured-post {
  margin-bottom: 2.5em;
}
.b-featured-post__inner {}
.b-featured-posts__title {}
.b-resp-image_featured-post {}
.b-featured-post__content {}
.b-resp-image_featured-post {
  img {}
}
.b-featured-post__thumbnail {}
.b-resp-image_sidebar {}
.b-featured-post__headline {}
.b-featured-post__text {}
.b-featured-post__button {}
//STICKY POST
.b-featured-post_sticky {
  
  .b-featured-post__inner {}
  .b-resp-image_featured-post {
    img {}
  }
  
  .b-featured-post__content {}
  
  .b-featured-post__headline {}
  .b-featured-post__text {

  }
  .b-featured-post__button {}
}
// END STICKY POST
/*-------------------------------------------
NAVIGATION STYLES
--------------------------------------------*/
/*
 * SubMenu
 */
.b-menu_submenu {
  max-width: 1200px;
}
/*-------------------------------------------------
 HEADLINES
---------------------------------------------------*/
.b-headline {

  span {
  }
  
}

/*-------------------------------------------------
 PAGE COVER INTRO
---------------------------------------------------*/
.b-page-cover {
    padding-top: 295px;
}
.b-section__wrap-outer_page-cover {

}
.b-headline_page-cover {
  margin: 0em 0 0.6em 0.15em;
}
/*-------------------------------------------------
 HOMEPAGE SCROLL MORE (INSERTED VIA JS)
---------------------------------------------------*/
.b-scroll-more {
  
  &:after {

  }
}
/*-------------------------------------------------
 HORIZONTAL RULES
---------------------------------------------------*/
.b-rule_small {
    width: 30%;
}
.b-rule_medium {
    width: 50%;
}
.b-rule_large {
    width: 90%;
}
/*-------------------------------------------------
 Section Block
---------------------------------------------------*/
.b-section__wrap-inner {
  padding: 6em 0;
}
.b-section__title {}
.b-section__intro {
  font-size: 1.125em;
}


//Use for blocks that have a full photo background, but still need spacing outside of them;
.b-section_outer-pad {
  margin: 6em auto;
}
.b-section_outer-pad.b-section_collapsed-top {
  margin: 0em auto 6em;
  
  .b-section__wrap-inner {
    padding-top: 6em;
  }
}
.b-section_outer-pad.b-section_collapsed-bottom {
  margin: 6em auto 0em;
  
  .b-section__wrap-inner {
    padding-bottom: 6em;
  }
}
.b-section_outer-pad.b-section_collapsed-both {
  margin: 0em auto 0em;
  
  .b-section__wrap-inner {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}


/*-------------------------------------------
  RO: INTRODUCTION TEXT
--------------------------------------------*/
.b-section_intro {}
.b-section__wrap-outer_intro {

}
.b-section__wrap-inner_intro {
    padding-top: 6em;
    padding-bottom: 4em;
}
.b-intro__headline {
  font-size: 1em;
  text-transform: uppercase;
}
.b-intro__text {
  
  p {
    
    &:first-child {
      font-size: 1.75em;
      margin-top: 0.6em;
    }
  }
}

/*-------------------------------------------
  RO: BODY TEXT
--------------------------------------------*/
.b-section_intro {

}
.b-section__wrap-outer_bodytext {

}
.b-bodytext__headline {
  font-size: 1.81em;
}
.b-bodytext__text {
  
  p {
  }
}


/*-------------------------------------------
  RO: IFRAME AND SCRIPTS BUCKET
--------------------------------------------*/
.b-section_scripts {}
.b-section__wrap-outer_scripts {}
.b-section__wrap-inner_scripts {}
.b-script-holder {
  iframe {}
}

/*-------------------------------------------
  RO: OVERVIEW (SHARES WITH BODY TEXT)
--------------------------------------------*/
.b-section__wrap-outer_overview {

}
.b-section__wrap-inner_overview {

}
.b-bodytext__overview {

}
.b-section-label {
  flex-basis: 43%;
  max-width: 250px;
}
.b-section-label__number {
  font-size: 3em;
  line-height: 1.8;
  margin-right: 40px;
}
.b-section-label__text {
  
}
.b-overview__body {
  flex-basis: 55%;
}


/*-------------------------------------------
 RO: PAGE HEADER: HERO
--------------------------------------------*/
.b-section_hero {
  //max-width: none;
  min-height: 700px;

}
.b-section__wrap-outer_hero {

}
.b-hero__headline {
    font-size: 4.5em;
}
/* SUBPAGE LAYOUT */
.b-section_hero_subpage {
  min-height: 400px;
}
.b-section__wrap-outer_subpage {


}
.b-hero_headline-holder {
    min-height: 4.25em;
    padding-left: 9%;
}
.b-hero__headline_subpage {
  font-size: 4.32em;
  line-height: 0;
  margin-left: 2.5em;
  margin: -.7em 0em 0em 0.15em;
}
/*-------------------------------------------
  RO: PHOTO BREAK
--------------------------------------------*/
.b-photo-break {
  min-height: 380px;
}
.b-photo-break_tall {
  min-height: 455px;
}


/*-------------------------------------------
  RO: RELATED PAGES
--------------------------------------------*/
.b-section_relpages {}
.b-section__wrap-outer_relpages {}
.b-section__wrap-inner_relpages {}
.b-relpages {}
.b-relpage {}
.b-relpage__inner {}
.b-resp-image_relpage {}
.b-image_relpage {}
.b-relpage__headline {}
.b-relpage__text {}

/*-------------------------------------------
  RO: QUOTE CAROUSEL
--------------------------------------------*/
.b-section_quotes {

}
.b-section__wrap-outer_quotes {
    max-width: 900px;
}
.b-section__wrap-inner_quotes {
  padding: 3em 0;
}
.b-quote__words {
}
.b-quote__words:before {
}
.b-quote__words:after {
}

/*-------------------------------------------
  RO: TEXT EDITOR BLOCK
--------------------------------------------*/
.b-section_textedit {}
.b-section__wrap-outer_textedit {
  //max-width: 1100px;
}
.b-textedit__headline{}

/*-------------------------------------------
  RO: TEXT OVER PHOTO
--------------------------------------------*/

.b-section-textphoto {
  max-width: none;
  min-height: 800px;

}
.b-section__wrap-inner_textphoto {
  padding-bottom: 4.25em;
}
.b-section-textphoto__title {
  font-size: 3em;
}
.b-section-textphoto__text {
  p {
    font-size: 1.81em;
    margin: 1.25em auto;
  }
}
.b-section-textphoto__button {
  
}
.b-section__wrap-outer_textphoto {

}
/*-------------------------------------------
  TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {}
.b-section__wrap-outer_text-side-image{}
.b-section__wrap-inner_text-side-image{}

.b-text-side-image__content {}
.b-side-text_left {}
.b-side-text_right {}
//image content
.b-side-image {}
.b-side-image__image{}
.b-side-image_left {}
.b-side-image_right {}
//text content
.b-side-text {}
.b-side-text__subheadline{}
.b-side-text__text{}

/*-------------------------------------------------------
  RO: TEXT WITH THIRD PARTY SCRIPT (SOCIAL MEDIA FEED)
-------------------------------------------------------*/
.b-section_text-script {}
.b-section__wrap-outer_text-script{}
.b-section__wrap-inner_text-script{}
.b-text-script__content {}

//text content
.b-text-script__copy {}
.b-text-script__copy_left {}
.b-text-script__copy_right {}

.b-text-script__headline{}
.b-text-script__subheadline{}
.b-text-script__text{
  p {}
  a, img {}
}
.b-text-script__button {}

//third party script content
.b-text-script__script {}
.b-text-script__script_left {}
.b-text-script__script_right {}
.b-third-party-script {}

/*-------------------------------------------
 SECTION INTRO TEXT (reusable section header)
--------------------------------------------*/

.b-section_tall {
  .b-section__wrap-inner {
    padding: 6em 0;
  }
}

/*-------------------------------------------
 RO: FEATURED EVENTS
--------------------------------------------*/
.b-section-featured-events {}
.b-section__wrap-outer_featured-events {

}
.b-section__wrap-inner_featured-events {}
.b-featured-events__title {}
.b-featured-events {}
.b-featured-events__wrap {}
.b-feature-event {}
.b-feature-event__inner {}
.b-feature-event__dates {}
.b-feature-event__date {}
.b-feature-event__date_start {}
.b-feature-event__date_end {}
.b-feature-event__times {}
.b-feature-event__time {}
.b-feature-event__time_start {}
.b-feature-event__time_end {}
.b-featured-event__location-splitter {}
.b-featured-event__location {}
.b-feature-event__content {}
.b-feature-event__headline {}
.b-feature-event__text {
  
  p{
    font-size: 0.94em;
  }
}
.b-feature-event__link {
  //font-size: 1.125em;
}

/*-------------------------------------------
 RO: FEATURED PROGRAMS
--------------------------------------------*/
.b-section-featured-programs {}
.b-section__wrap-outer_featured-programs {
}
.b-section__wrap-inner_featured-programs {
}

.b-featured-programs {
}

/*-------------------------------------------
 HOVER VIDEO PANELS
--------------------------------------------*/
.b-section_hover-panels {}
.b-section__wrap-outer_hover-panels {}
.b-section__wrap-inner_hover-panels {
  padding: 0;
}
.b-hover-panels {}
.b-hover-panel {}
.b-hover-panel__inner {}
.b-hover-panel__cover-image {
  a {}
}
.b-hover-panel__headline {
  font-size: 1.65em;
}
.b-hover-panel__text {
  
  p:first-child {}
  
  p:last-child {}
  
  img {}
}
.b-hover-panel__button {}
.b-hover-panel__button_icon {}


/*-------------------------------------------
 FEATURE CARDS
--------------------------------------------*/
.b-feature-cards__title {
}
.b-section__wrap-outer_feature-cards_default{

}
.b-feature-card__inner_overlay {
  min-height: 700px;
}




/*-------------------------------------------
 RO: CHARTS
--------------------------------------------*/
.b-section_chart {}
.b-section__wrap-outer_chart {}
.b-section__wrap-inner_chart {}
.b-section__title_chart {
  margin-top: -2.7em;
}
.b-chart-contents {}

//text side
.b-chartblock__text-content {}
.b-chartblock__headline {}
.b-chartblock__subhead {}
.b-chartblock__text {}
.b-chartblock__button {}

//chart side
.b-chartblock__chart {
  iframe {}
}
.b-chart-key {}
.b-chart-key__datum {}
.b-datum__color {}
.b-datum__label, .b-datum__value {}
.b-datum__value {}
.b-datum__value:after {}

/*-------------------------------------------
 GROUPED CONTENT WITH SORTER
--------------------------------------------*/
.b-section_grouped-content {}
.b-section__wrap-outer_grouped {}
.b-section__wrap-inner_grouped {}
.b-section_grouped-content {}
.b-section__wrap-outer_grouped {}
.b-section__wrap-inner_grouped {}
// MENU / SORT SELECT
.b-group-sortbar {}
.b-select_sortbar {}

// select box style sorting
.b-group-sortbar_dropdown {}
.b-group-sortbar__detail {}

//list style sorting
.b-group-sortbar_menu {}
.b-label__sortbar_menu {}
.b-group-sortbar__list {}
.b-group-sortbar__list-item {

    a {}
}

/*-------------------------------------------
  RO: HALF PHOTO REPEATER
--------------------------------------------*/
.b-section_halves {}
.b-half-photos__title {}
.b-section__wrap-outer_halves {

}
.b-section__wrap-inner_halves {
  padding: 0;
}
.b-half-tiles {}
.b-half-tile {
  max-height: 550px;
}
.b-half-tile__inner {}
.b-half-tile__photo {}
.b-halfphoto__img {}
.b-half-tile__headline {}
.b-half-tile__subhead {}
.b-half-tile__text {}

/*-------------------------------------------
  RO: CTA OVER VIDEO (PHOTO BACKUP)
--------------------------------------------*/
.b-video-background {}
.b-section__wrap-outer_cta-video {}
.b-cta-bar {
padding: 0px 7% 10px;
}
.b-cta-bar__title {
  font-size: 3em;
  margin: -0.75em 0 0 0;
}
.b-cta-bar__text {}
.b-cta-bar__button {
  margin-top: 10px;
    margin-bottom: 10px;
}

/*-------------------------------------------
  RO: TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {}
.b-section__wrap-outer_text-side-image{

}
.b-section__wrap-inner_text-side-image{}

.b-text-side-image__content {}
.b-side-text_left {}
.b-side-text_right {}
//image content
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {}
.b-side-photo {}
.b-side-photo__image{}
//text content
.b-side-text {}
.b-side-text__subheadline{
  font-size: 1.875em;
}
.b-side-text__text{}


/*-------------------------------------------
  RO: HALF PANELS
--------------------------------------------*/
.b-half-panel {}
.b-half-panel_left {}
.b-half-panel_right {}
.b-half-panel__button {}
.b-half-panel__headline {
  font-size: 1.32em;
  margin: 1.35em 0 0.35em;
}
.b-half-panel__text {}
.b-half-panel__button {
  margin: 2em auto; 
}


/*-------------------------------------------
 RO: COACHES PAGE 
--------------------------------------------*/

.b-section-coaches {}
.b-section__wrap-outer_coaches {

}
.b-section__wrap-inner_coaches {
  padding: 4em 0;
}
.b-coaches {}
.b-coach {}
.b-coach__photo {}
.b-coach__image {}
.b-coach__details {}
.b-coach__name {}
.b-coach__title {}

/*-------------------------------------------
 RO: SINGLE EMPLOYEE/COACH PAGE 
--------------------------------------------*/
.b-empoyee-header {
  margin-bottom: 9em;
}
.b-section__wrap-outer_empoyee-header {}
.b-section__wrap-inner_empoyee-header {}
.b-empoyee-header__backlink {}
.empoyee-header__profile {
  margin-bottom: -16em;
}
.b-employee__photo {}
.b-employee__image {}
.b-employee-details {}
.b-employee-details__name {}
.b-employee-details__title {}
.b-employee-details__phone {}
.b-employee-details__email {}
.b-employee-social-sites {}
.b-employee-social-site {}
.b-employee-social-site__link {}
.b-empoyee-body {}
.b-section__wrap-outer_empoyee-body {
  max-width: 60%;
}
.b-section__wrap-inner_empoyee-body {}
.b-wysiwyg_employee-bio {}


/*-------------------------------------------
 RO: BIZ OPS PAGE 
--------------------------------------------*/
.b-section-boards {}
.b-section__wrap-outer_boards {}
.b-section__wrap-inner_boards {}
.b-section__title_boards {}
.b-boards {}
.b-board {}
.b-board__name {
  padding-bottom: 1em;
  margin-bottom: 1.389em;
  font-size: 2.25em;
}
.b-board__members {}
.b-board-member {}
.b-board-member__name {}
.b-board-member__position {}
.b-board-member__title {}

/*-------------------------------------------
 ICON LIST (OR CAROUSEL)
--------------------------------------------*/
.b-section_icon-list {}
.b-section__wrap-outer_icon-list {}
.b-section__wrap-inner_icon-list {}
.b-section__title_icon-list {}
.b-section__intro_icon-list {}
.b-icon-list {}
.b-icon {}
.b-icon__inner {}
.b-icon__link {}
.b-icon__img {}
.b-icon__text {}
.b-icon__button {}

/*** CAROUSEL VERSION ***/
.b-section_icon-list .bx-viewport {}
.b-section_icon-list .bx-wrapper {}
.b-icon-list.js_icon_carousel {}
.b-icon-carousel-slide {}
 



/*----------------------------------------------
 RO: PLUGINS
 ---------------------------------------------*/
//ADDTHIS SOCIAL SHARING
.b-share-buttons {}
.b-share-button {
  
}
/* FULLPAGE.JS */
.fp-section {
  .b-section__wrap-outer {
      max-width: 1400px;
  }
  
  &.b-section_quotes {
    .b-section__wrap-outer {
  }
  }
}