/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/



/*********************
NAVIGATION STYLES
*********************/

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {

					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {


	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

} /* end .entry-content */

//AUTHOR BIO BOX (END OF POSTS)
.b-author-box {}
.b-author-box__wrap {}
.b-author-box__photo {}
.b-author-box__image {}
.b-author-box__content {}
.b-author-box__name {}
.b-author-box__title {}
.b-author-box__link {}

/*-------------------------------------------
INDEX/ARCHIVE STYLES
--------------------------------------------*/
.b-regular-post {
  @include flex-justify(space-evenly);
}
.b-regular-post__item {
    flex-basis: 48%;
}
.b-regular-post-item__image {}
.b-regular-post-item__title {}

.b-posts-page {}
.b-posts {}
.b-regular-post {  
  &:last-child {}
}
.b-regular-post__meta {}
.b-regular-post__image {}
.b-regular-post__image-link {  
  &:hover {
      .b-regular-post__image_hover{}
    }
}
.b-regular-post__image_hover{}
.b-regular-post__title {  
  a {
    &:visited, &:hover, &:visited {}
  }
}
.b-regular-post__text {}
.b-regular-post__button {}
/*-------------------------------------------
 FEATURED POSTS ON INDEX PAGE
--------------------------------------------*/
.b-section-featured-posts {}
.b-section__wrap-outer_featured-posts{}
.b-section__wrap-inner_featured-posts {}
.b-featured-posts__wrap {}
.b-featured-post {}
.b-featured-post__inner {}
.b-featured-posts__title {}
.b-resp-image_featured-post {}
.b-featured-post__content {}
.b-resp-image_featured-post {
  img {}
}
.b-featured-post__thumbnail {}
.b-resp-image_sidebar {}
.b-featured-post__headline {}
.b-featured-post__text {}
.b-featured-post__button {}
//STICKY POST
.b-featured-post_sticky {
  
  .b-featured-post__inner {}
  .b-resp-image_featured-post {
    img {}
  }
  
  .b-featured-post__content {}
  
  .b-featured-post__headline {}
  .b-featured-post__text {}
  .b-featured-post__button {}
}
// END STICKY POST

/*********************
FOOTER STYLES
*********************/
.b-footer {

}
.b-footer__top {

}
.b-footer__bottom {

}
.b-footer__inner {
  @include flex(column);
  @include flex-justify(space-between);
}
.b-footer__inner_top {

}
.b-footer__inner_bottom {
  align-items: flex-start;
}

.b-footer__nav {
  margin-bottom: 0;
		li {}
} /* end .b-footer__nav */

.b-footer__signup, .b-footer__nav {
    width: 100%;
}

.b-footer__links span {float: left;}

/**************************
 * CHARITY SEALS LOOP/BLOCK
***************************/
.b-charity-seals {
  
}
.b-charity-seals__list {
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.b-charity-seal {
  margin-right: 0;
  margin-bottom: .5em;
  a {
    img {
      
    }
  }
}

.b-charity-seals__list {margin-top: 20px; flex-direction: row;}
.b-charity-seal {margin-right: 20px;}

/**************************
 * RO: SOCIAL PROMO LOOP/BLOCK
***************************/
.b-social-promo {
  order: 2;
}
.b-social-links {
  flex-direction: row;
  margin: 1em 0;
}
.b-social-link {
  a {
    img {
      
    }
  }
}

/*-------------------------------------------------
 PAGE COVER INTRO
---------------------------------------------------*/
.b-page-cover {
    padding-top: 105px;
}

.b-section__wrap-outer_page-cover {
}
.b-headline_page-cover {
  max-width: 80%;
}

/*-------------------------------------------------
 HOMEPAGE SCROLL MORE (INSERTED VIA JS)
---------------------------------------------------*/
.b-scroll-more {
  
  &:after {

  }
}

/***********************************************************
  BEM BLOCKS STYLES  BEM BLOCKS STYLES  BEM BLOCKS STYLES
***********************************************************/

/*------------------
 HEADLINES AND SUBHEADS
------------------*/
.b-headline {
  
  span {
    
  }
}
.b-subhead {

}


/*-------------------------------------------
 SECTION BLOCK (reusable section header)
--------------------------------------------*/
.b-section_tall {
  .b-section__wrap-inner {
    padding: 4em 0;
  }
}
.b-section__title {}
.b-section__intro {
  max-width: 80%;
  margin: 1em auto 2em;
}


/*-------------------------------------------
 RO: FEATURE CARDS
--------------------------------------------*/
.b-section__wrap-inner_feature-cards_default {
  padding: 2em 0 .5em;
}
.b-feature-cards {
  width: 100%;
  margin: 0 auto;
}
.b-feature-card {
  margin: 0 0 .25em;
}
/***** OVERLAY VERSION *****/
.b-feature-card_overlay {
  margin: 0 auto;
}
.b-feature-card__inner_overlay {

} 
.b-resp-image_feature-card_overlay {
  
  img {
  }
}
.b-feature-card__headline_overlay {
  
}
.b-feature-card__text_overlay {
  
}
.b-feature-card__button_overlay {
  
}



/*-------------------------------------------
  RO: IFRAME AND SCRIPTS BUCKET
--------------------------------------------*/
.b-section_scripts {}
.b-section__wrap-outer_scripts {}
.b-section__wrap-inner_scripts {}
.b-script-holder {
  iframe {}
}

/*-------------------------------------------
 RO: PAGE HEADER: HERO
--------------------------------------------*/
.b-section_hero {

}
.b-hero__headline {
  max-width: 100%;
  font-size: 3em;
}

/* SUBPAGE LAYOUT */
.b-section_hero_subpage {
height: 225px;
}
.b-section__wrap-inner_subpage {
  padding: 0;
}
.b-hero_headline-holder {

}
.b-hero__headline_subpage {
  margin: -.75em auto 0;
  max-width: none;
}


.b-hero-slide__buttons {
  font-size: 0.875em;
  font-weight: 700;
  
  a {
  }
}

/*-------------------------------------------
  RO: INTRODUCTION TEXT
--------------------------------------------*/
.b-section_intro {}
.b-section__wrap-outer_intro {

}
.b-section__wrap-inner_intro {}
.b-intro__headline {}
.b-intro__text {
  
  p {
    max-width: 90%;    
    &:first-child {}
  }
}

/*-------------------------------------------
  RO: BODY TEXT
--------------------------------------------*/
.b-section_intro {

}
.b-section__wrap-outer_bodytext {

}
.b-bodytext__headline {

}
.b-bodytext__text {
  
  p {
    max-width: 100%;
  }
}
/*-------------------------------------------
  RO: STATISTICS / STATS
--------------------------------------------*/
.b-stats {
  margin-top: 3.5em;
}
.b-stat {
  flex-grow: 0;
  flex-basis: 30%;
}

.b-stat__value {
  
  span {}
}
.b-stat__label {}

/*-------------------------------------------
  RO: PHOTO BREAK
--------------------------------------------*/
.b-photo-break {

}




/*-------------------------------------------
  RO: RELATED PAGES
--------------------------------------------*/
.b-section_relpages {}
.b-section__wrap-outer_relpages {}
.b-section__wrap-inner_relpages {}
.b-relpages {
  width: 100%;
}
.b-relpage {
  margin-bottom: 1.5em;
}
.b-relpage__inner {}
.b-resp-image_relpage {}
.b-image_relpage {}
.b-relpage__headline {}
.b-relpage__text {}

/*-------------------------------------------
  RO: TEXT OVER PHOTO
--------------------------------------------*/

.b-section-textphoto {
  min-height: 452px;
}
.b-section__wrap-outer_textphoto {
}
.b-section__wrap-inner_textphoto {}
.b-section-textphoto__title {}
.b-section-textphoto__text {
  p {
    font-size: 1.25em;
  }
}
.b-section-textphoto__button {}

/*-------------------------------------------
  RO: CTA OVER VIDEO (PHOTO BACKUP)
--------------------------------------------*/
.b-section_cta-video {
  min-height: 260px;
}
.b-video-background {}
.b-section__wrap-outer_cta-video {}
.b-cta-bar {
  margin-left: auto;
  margin-right: auto;
}
.b-cta-bar__title {}
.b-cta-bar__text {}
.b-cta-bar__button {}
/*-------------------------------------------
  RO: TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {}
.b-section__wrap-outer_text-side-image{}
.b-section__wrap-inner_text-side-image{}

.b-text-side-image__content {
}
.b-side-text_left { 
}
.b-side-text_right {

}
//image content
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {}
.b-side-photo {}
.b-side-photo__image{}

//text content
.b-side-text {}
.b-side-text__headline{}
.b-side-text__subheadline{}
.b-side-text__text{}

/*-------------------------------------------------------
  RO: TEXT WITH THIRD PARTY SCRIPT (SOCIAL MEDIA FEED)
-------------------------------------------------------*/
.b-section_text-script {}
.b-section__wrap-outer_text-script{}
.b-section__wrap-inner_text-script{}
.b-text-script__content {}

//text content
.b-text-script__copy {}
.b-text-script__copy_left {}
.b-text-script__copy_right {}

.b-text-script__headline{}
.b-text-script__subheadline{}
.b-text-script__text{
  p {}
  a, img {}
}
.b-text-script__button {}

//third party script content
.b-text-script__script {}
.b-text-script__script_left {}
.b-text-script__script_right {}
.b-third-party-script {}

/*-------------------------------------------
  RO: TEXT EDITOR BLOCK
--------------------------------------------*/
.b-section_textedit {
  text-align: left;
}
.b-section__wrap-outer_textedit {

}
.b-textedit__headline{}

/*-------------------------------------------
  RO: HALF PANELS
--------------------------------------------*/
.b-half-panel {
  padding: 2em;
}
.b-half-panel_left {}
.b-half-panel_right {}
.b-half-panel__button {}
.b-half-panel__headline {}
.b-half-panel__text {}
.b-half-panel__button {}







/*-------------------------------------------
 RO: COACHES PAGE 
--------------------------------------------*/
.b-section-coaches {}
.b-section__wrap-outer_coaches {}
.b-section__wrap-inner_coaches {}
.b-coaches {}
.b-coach {
  margin-bottom: 3em;
}
.b-coach__photo {}
.b-coach__image {}
.b-coach__details {}
.b-coach__name {
  font-size: 1.625em;
}
.b-coach__title {
  font-size: 1em;
}


/*-------------------------------------------
 RO: SINGLE EMPLOYEE/COACH PAGE 
--------------------------------------------*/
.b-empoyee-header {}
.b-section__wrap-outer_empoyee-header {}
.b-section__wrap-inner_empoyee-header {}
.b-empoyee-header__backlink {}
.empoyee-header__profile {}
.b-employee__photo {}
.b-employee__image {}
.b-employee-details {}
.b-employee-details__name {}
.b-employee-details__title {}
.b-employee-details__phone {}
.b-employee-details__email {}
.b-employee-social-sites {}
.b-employee-social-site {}
.b-employee-social-site__link {}
.b-empoyee-body {}
.b-section__wrap-outer_empoyee-body {}
.b-section__wrap-inner_empoyee-body {}
.b-wysiwyg_employee-bio {}



/*-------------------------------------------
 RO: BIZ OPS PAGE 
--------------------------------------------*/
.b-section-boards {}
.b-section__wrap-outer_boards {}
.b-section__wrap-inner_boards {}
.b-section__title_boards {}
.b-boards {}
.b-board {}
.b-board__name {}
.b-board__members {}
.b-board-member {
  padding: 0 5% 2% 0%;
}
.b-board-member__name {}
.b-board-member__position {}
.b-board-member__title {}
/*-------------------------------------------
 ICON LIST (OR CAROUSEL)
--------------------------------------------*/
.b-section_icon-list {}
.b-section__wrap-outer_icon-list {}
.b-section__wrap-inner_icon-list {}
.b-section__title_icon-list {}
.b-section__intro_icon-list {}
.b-icon-list {}
.b-icon {}
.b-icon__inner {}
.b-icon__link {}
.b-icon__img {}
.b-icon__text {}
.b-icon__button {}

/*** CAROUSEL VERSION ***/
.b-section_icon-list .bx-viewport {}
.b-section_icon-list .bx-wrapper {}
.b-icon-list.js_icon_carousel {}
.b-icon-carousel-slide {}
 

/*-------------------------------------------
  QUOTE CAROUSEL
--------------------------------------------*/
.b-section__wrap-outer_quotes {

}
.b-quote__body {

}
.b-quote__body:before {

}
.b-quote__body:after {

}


/*-------------------------------------------
 VIDEO FEATURE
--------------------------------------------*/ 

/*-------------------------------------------
 RO: MENTORING MATTERS PROGRAMS
--------------------------------------------*/ 
.b-section-mentoring-matters-programs {}
.b-section__wrap-outer_mentoring-matters-programs {}
.b-section__wrap-inner_mentoring-matters-programs {
  padding-top: 0;
}
.b-mentoring-matters-programs {}
.b-mentoring-matters-programs_wrap {}
.b-mentoring-program {}
.b-mentoring-program__inner {}
.b-mentoring-program__overview {}
.b-mentoring-program__title {}
.b-mentoring-program__org {}
.b-mentoring-program__location {}
.b-mentoring-program__do-label {}
.b-mentoring-program__description {}
.b-mentoring-program__details {}
.b-mentoring-program__details-list {}
.b-mentoring-program__detail {}
.b-mentoring-program__detail__label {}
.b-mentoring-program__detail__value {}
//SEE ALL BOX/BUTTON
.b-mentoring-program_see-all {}
.b-mentoring-program__inner_see-all {}
.b-mentoring-program__title_see-all {}

/*-------------------------------------------
 RO: SEARCH RESULTS PAGE
--------------------------------------------*/ 
.b-search-title {}
.b-headline_search-results {
  span {}
}
.b-search-results_group-name {}
.b-search-results_group {
    .b-feature-event, .b-regular-post-item, .b-feature-card_programs, article {
      flex-basis: 47%;
    }
    .b-feature-event {
      &:last-child {
      }
    }
}