/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*---WYSIWYG CONTENT---*/
.b-wysiwyg {

  p {
  }
  
  ul, ol, table, dl {}
  
  ul, ol {
    margin-top: 2.25em;
    margin-left: 7%;
    width: 85%;
    li {
    }
  
  }
  
  ul {
  
    li {}
  
  }
  
  ol {
  
    li {
    }
  
  }
}
/*--- H TAG STYLES---*/
h1, .h1 {
  font-size: 2.2em;
  
  small, span {
  }
}

h2, .h2 {
  small, span {
  }
}

h3, .h3 { 
  small, span {
  }
}

h4, .h4 {  
  small, span {
  }
}


h5, .h5 {  
  small {
  }
}
h6, .h6 {
  small {
  }
}
/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {

    width: 90%;
}
.b-section__wrap-outer {

}
.b-section__wrap-inner {
  
}
/*-------------------------------------------
HEADER STYLES
--------------------------------------------*/

.b-header {
   width: 100%;
   padding-top: .75em;
   padding-bottom: .75em;
}

.b-header__logo {
  flex-basis: 32%;
    margin: 0em 0px 0 0;
    flex-shrink: 1;
    flex-grow: 1;
  
    a {
    }
}
.b-header__inner {
  align-items: center;
  @include flex-justify(center);
  flex-wrap: wrap;
  order: 2;
  width: 90%;
  padding: 0 0;
}
.b-header__navigation {
  width: auto;
  flex-basis: 67%;
  flex-direction: row;
  @include flex-justify(flex-end);
  flex-shrink: 1;
  flex-grow: 1;
}


/*-------------------------------------------
NAVIGATION STYLES
--------------------------------------------*/

.nav {
	border: 0;
	ul {
		background:$black;
		margin-top:0;
	}
	li {
		
		position: relative;

		a {
			//border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						//border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */
/* menu-items */
.menu-item {
  float: left;
  a{
    white-space: nowrap;
    &:hover, &:visited:hover {
 
    }
    &:visited, &:focus {

    }
  }
}

.b-menu__list {
  flex-direction: row; 
}
/*
 * Main Menu
 */
.b-menu_main {
  display:block;
  margin-top: 0.5em;
  margin-bottom: 0;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.b-menu__list_main {
  @include flex-justify(space-around);
  text-transform: none;
  li {
      margin: 1em 0;
      padding: 0px 5px;
      margin-right: 1%;
      font-weight: bold;
            
      a, a:hover, a:focus {
        
        letter-spacing: .5px;
        padding: 1em 0;
        
        
        &:after {
          display: block;
          content: "";
          border-bottom: 3px transparent solid;
          position: absolute;
          left: 5px;
          right: 5px;
          bottom: 0;
        }
      }
     
      &:hover, &:focus, &.current_page_ancestor, &.current-menu-item {
        a {
          
          &:after {
            display: block;
            content: "";
            border-bottom: 3px $primary-color solid;
            position: absolute;
            left: 5px;
          right: 5px;
            bottom: 0;
          }
        }
      }
      
      ul.sub-menu {
        display: none;
      }
    }
}
/*
 * Highlighted Main Menu
 */
.b-menu_highlighted {
  margin-top: 12px;
  order: 2;
  font-size: .875em;
  flex-basis: 30%;
}
.b-menu__list_highlighted {
  @include flex-justify(flex-end);
  margin: 0;
  
  .menu-item {
    background: $light-gray;
    margin: 0;
	padding: 0 16px;
	font-weight: bold;
	font-family: roboto condensed;
    
    &:hover {
      background: darken($light-gray, 10%);
    }
    
    &:first-child {
      background: $primary-color;	  
      
      a {
         color: $white;
      }
      
      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}
/*
 * Utility Menu
 */
.b-menu_ute {
  background: $light-gray;
  max-width: 50%;
  width: 100%;
  order: 1;
  font-size: .75em;
  align-self: flex-end;
  margin: 0;
  margin-bottom: -5px;
  padding-right: 3%;
  @include flex(row);
  @include flex-justify(flex-end);
  
  ul.sub-menu {
    display: none;
  }
}
.b-menu__list_ute {
  @include flex-justify(flex-end);
  text-transform: none;
  li {
    
    a {
      padding: .5em;
      display: inline-block;
    }
    a, a:hover, a:focus, a:visited {
      color: $dark-gray;
    }
    
    &:last-child {
      margin-right: 0;
      
      a:last-child {
        //padding-right: 0;
        border-right: none;
      }
      
      &:after {
        content: "|";
        display: inline;
      }
    }
    
    &:after {
      content: "|";
      display: inline;
    }
  }
  
}
//SEARCH
.b-search-button_launch {
    cursor: pointer;
    display: block;
    margin-top: 0.5em;
}
.b-header__navigation {
  align-items: center;
  position: relative;
  
  form#searchform {
    height: auto;
    //display: none;
    opacity: .01;
    width: 0;
    overflow: hidden;
    @include transition(all .2s ease, opacity 0s ease);
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    padding: 0;
    padding: 20px 17px 20px 17px;
    border: 1px solid $light-gray;
    border-top: none;
    position: absolute;
        right: 0;
    bottom: 0;
    pointer-events: none;
      /*position: absolute;
      top: 30px;
      background: #fff;
      padding: 1em;
      z-index: 100;
      border: 1px solid $light-gray;
      border-top: none;*/
     
     label {
       display: none;
     }
     
     &.vis {
       //display: block;
       opacity: 1;
       width: auto;
        position: absolute;
        right: 0;
        bottom: -80px;
        background: #fff;
        z-index: 1000000;
        overflow: visible;
        pointer-events: auto;
        @include transition(all .4s ease, opacity .2s ease);
     }
  }
}

/*
 * SubMenu
 */
.b-submenu {
  display: block;
}
.b-menu_submenu {
  font-size: .75em;
  //max-width: 728px;
  margin: 0 auto;
  
  li {
    
    
    a, a:hover, a:focus, a:visited {
      color: $dark-gray;
    }
  }
  
}
.b-menu__list_submenu {
    flex-wrap: wrap;
    
}
.b-menu_submenu:empty {
    display: none;
  }
//*********MOBILE NAV SWITCH**************//
.b-mobile-nav-switch {
    display: none;
}

.b-menu__list-item {
    margin-right: .25em;
    a {
      
    }
  }
.b-social-link.b-menu__list-item {
    margin-right: 1em;
}
/*********************
POSTS & CONTENT STYLES
*********************/
.b-single-post-header {
    min-height: 500px;
    z-index: 300;
    width: 90%;
}
//AUTHOR BIO BOX (END OF POSTS)
.b-author-box {}
.b-author-box__wrap {}
.b-author-box__photo {}
.b-author-box__image {}
.b-author-box__content {}
.b-author-box__name {}
.b-author-box__title {}
.b-author-box__link {}

/*-------------------------------------------
INDEX/ARCHIVE STYLES
--------------------------------------------*/
.b-regular-post {

}
.b-regular-post__item {
  flex-basis: 32%;
  
  .b-resp-image {

  }
}
.b-regular-post__image-link {
  display: block;
}
.b-regular-post-item__image {
      max-height: 100%;
      max-width: none;
      height: 100%;
}
.b-regular-post-item__title {
  
}
/*-------------------------------------------
 FEATURED POSTS ON INDEX PAGE
--------------------------------------------*/

.b-section-featured-posts {}
.b-section__wrap-outer_featured-posts{}
.b-section__wrap-inner_featured-posts {}
.b-featured-posts__wrap {
  margin-top: 0;
  margin-bottom: 0;
}
.b-featured-post {
  margin-bottom: 1.9em;
}

.b-featured-post__inner {

}

.b-featured-posts__title {
    margin-bottom: -0.5em;
  }
.b-resp-image_featured-post {
  flex-basis: 45%;
}
.b-featured-post__content {
  text-align: center;
  flex-basis: 55%;

  @include flex(column);
  align-items: center;
}
.b-resp-image_featured-post {
  position: relative;

  img {
   /* position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 200%;
    min-width: 100%;
    max-height: 125%;
    width: auto;*/
  }
}
.b-featured-post__thumbnail {
  //margin-left: -50%;
}
.b-resp-image_sidebar {
  display: block;
}
.b-featured-post__headline {
    margin-left: auto;
    margin-right: auto;
}
.b-featured-post__text {
    margin-top: 0;
}
.b-featured-post__button {
  margin: 1em auto;
}
//STICKY POST
.b-featured-post_sticky {
  
  .b-featured-post__inner {
    @include flex(row);
    align-items: stretch;
    padding-bottom: 0;
  }
  .b-resp-image_featured-post {
    
    padding-bottom: 0;
    height: auto;
    
    img {
      max-width: 600px;
      min-width: 100%;
      //transform: translate(-50%);
    }
  }
  
  .b-featured-post__content {
    text-align: left;
    align-items: flex-start;
    padding: 3.5em 14% 6em 7%;
  }
  
  .b-featured-post__headline {
    font-size: 2.25em;
    margin-bottom: 0.5em;
      margin-left: 0;
      margin-right: 0;
  }
  .b-featured-post__text {
   
    margin-left: 0;
  }
  .b-featured-post__button {
    margin-left: 0;
      margin-right: 0;
  }
}
// END STICKY POST
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {

}

	.b-widget__title {
    margin-top: 0;
	}

	.widget {
		padding: 0;
		margin: 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.b-footer {
  z-index: 301;

}
.b-footer__inner {
  align-items: center;
  flex-direction: row;
  position: relative;
  
  
}
.b-footer__top {
  padding: 3em 0;
}
.b-footer__inner_top {
  .b-footer__inner {
    &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    border-right: 1px solid #c7c7c7;
    top: 0;
    left: 50%;
    }
  }
}
.b-footer__inner_bottom {
  @include flex-justify(space-between);
}

.b-footer__nav {
    margin: 1em 0;
    
		li {
		  //float: none;
			a {
			  padding: .25em 0px;
			  color: $secondary-color;
			  
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}

} /* end .b-footer__nav */

.b-footer__signup, .b-footer__nav {
    width: 50%;
}

.b-footer-widget {}
.b-footer-widget_one {
  padding-right: 2%;
}
.b-footer-widget_two {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  flex-basis: 40%;
  
}

/**************************
 * CHARITY SEALS LOOP/BLOCK
***************************/
.b-charity-seals {
  
}
.b-charity-seals__list {
  flex-direction: column;
  align-items: center;
}
.b-charity-seal {
  margin-right: .5em;
  a {
    img {
      
    }
  }
}
/**************************
 * SOCIAL PROMO LOOP/BLOCK
***************************/
.b-social-promo {
  order: 2;
}
.b-social-links {
  flex-direction: row;
}
.b-social-link {
  a {
    img {
      
    }
  }
}

/*-------------------------------------------------
 PAGE COVER INTRO
---------------------------------------------------*/
.b-page-cover {
    padding-top: 227px;
}
.b-section__wrap-outer_page-cover {

}
.b-headline_page-cover {
  max-width: 80%;
}
/*-------------------------------------------------
 HOMEPAGE SCROLL MORE (INSERTED VIA JS)
---------------------------------------------------*/
.b-scroll-more {
  margin: 55px 0 -15px;
  &:after {

  }
}

/**************************
 * BUILDING BLOCK RULES
***************************/
/*-------------------------------------------------
 HORIZONTAL RULES
---------------------------------------------------*/
.b-rule_small {
    width: 30%;
}
.b-rule_medium {
    width: 50%;
}
.b-rule_large {
    width: 80%;
}
/*-------------------------------------------------
 HEADLINES
---------------------------------------------------*/
.b-headline {
  font-size: 1.75em;
  //margin-left: .35em;
  
  span {
   // line-height: 0;
    
  }
 
}
/*-------------------------------------------------
 Section Block
---------------------------------------------------*/
.b-section__wrap-inner {
  padding: 3em 0;
}
.b-section_tall {
  .b-section__wrap-inner {
    padding: 5em 0;
  }
}
//Use for blocks that have a full photo background, but still need spacing outside of them;
.b-section_outer-pad {
  margin: 3em auto;
}
.b-section_outer-pad.b-section_collapsed-top {
  margin: 0em 0 3em;
  
  .b-section__wrap-inner {
    padding-top: 3em;
  }
}
.b-section_outer-pad.b-section_collapsed-bottom {
  margin: 3em auto 0em;
  
  .b-section__wrap-inner {
    padding-bottom: 3em;
  }
}
.b-section_outer-pad.b-section_collapsed-both {
  margin: 0em auto 0em;
  
  .b-section__wrap-inner {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.b-section__title {}
.b-section__intro {
  max-width: 65%;
  margin: 1em auto 2.75em;
}



/*-------------------------------------------
 SECTION INTRO TEXT (reusable section header)
--------------------------------------------*/
.b-section-intro__headline_big {
  font-size: 2.25em;
}
.b-section-intro__headline_medium {
  font-size: 2em;
}
.b-section-intro__headline_small {
  font-size: 1.75em;
}
.b-section-intro__subhead_big, .b-section-intro__subhead_medium, .b-section-intro__subhead_small {
    margin-top: -0.75em;
    text-align: center;
}
.b-section-intro__subhead_big {
    font-size: 1.1em;
}
a.b-section-intro__button {
  font-size: .875em;
}
/* CAPTION */
.b-section-intro__caption {
    bottom: 1em;
    margin-bottom: .5em;
    right: 10px;
}
/*-------------------------------------------
 COLORED BLOCK LISTS
--------------------------------------------*/
/*-------------------------------------------
 EXTRA MENU (IN-PAGE MENU)
--------------------------------------------*/
.b-section_extra-menu {
  
  .b-section__wrap-outer {
  }
  .b-section__wrap-inner {
  }
  .b-section__wrap-inner_filled {
  }
}
.b-extra-menu__menu {
}
.b-extra-menu__item {
    float: none;
}
a.b-extra-menu__link {
}



/*-------------------------------------------
 RO: FEATURE CARDS
--------------------------------------------*/
.b-section__wrap-inner_feature-cards_default {
  padding: 3em 0 1.5em;
}
.b-feature-cards__title {
    margin-top: -2.25em;
}
.b-feature-cards {
  width: 100%;
}
.b-feature-card {
  text-align: center;
  margin: 1em 0 0;
}
.b-feature-card__headline {
  font-size: 1.5em;
}
/***** OVERLAY VERSION *****/
.b-feature-card_overlay {
  margin: 0 auto;
&:hover {
    .b-feature-card__cover-image {
      transform: scale(1.1);
    }
  }
}
.b-feature-card__inner_overlay {
  padding: 15em 5%;
} 
.b-resp-image_feature-card_overlay {

}
.b-feature-card__cover-image {
      transition: all .2s ease-in-out;
    }
.b-feature-card__headline_overlay {
  
}
.b-feature-card__text_overlay {
  
}
.b-feature-card__button_overlay {
  
}

/*-------------------------------------------
 RO: FEATURED EVENTS
--------------------------------------------*/
.b-section-featured-events {}
.b-section__wrap-outer_featured-events {
}
.b-section__wrap-inner_featured-events {}
.b-featured-events__title {}
.b-featured-events {}
.b-featured-events__wrap {}
.b-feature-event {
  border: 1px solid $gray;
  flex-grow: 1;
  flex-shrink: 1;
}
.b-feature-event__inner {
  padding: 0 5%;
}
.b-feature-event__dates {}
.b-feature-event__date {}
.b-feature-event__date_start {}
.b-feature-event__date_end {}
.b-feature-event__times {}
.b-feature-event__time {}
.b-feature-event__time_start {}
.b-feature-event__time_end {}
.b-featured-event__location-splitter {}
.b-featured-event__location {}
.b-feature-event__content {
  @include flex(column);
  align-items: flex-start;
  @include flex-justify(flex-start);
}
.b-feature-event__headline {}
.b-feature-event__text {
  flex-grow: 1;
}
.b-feature-event__link {
  justify-self: flex-end;
}
// SEE MORE FEATURED EVENTS BUTTON
.b-featured-event__bloglink {
  text-align: right;
  max-width: 98%;
  margin: 0 auto; 
} 
// SEE ALL BUTTON
.b-feature-event_see-all {
  margin-top: 5px;
  padding: 3.15% 0;
  
  .b-feature-event__content {
    margin-top: 33px;
  }
}
.b-feature-event__date_see-all {}
.b-feature-event__link_see-all {}

/*-------------------------------------------
 FEATURE WITH ICON
--------------------------------------------*/
.b-feature__inner {
  margin: 0;
  padding: 1.75em 1em 1.75em 1em
}











/*-------------------------------------------
  RO: HALF PHOTO REPEATER
--------------------------------------------*/
.b-section_halves {}
.b-half-photos__title {}
.b-section__wrap-outer_halves {

}
.b-section__wrap-inner_halves {
  padding: 0;
}
.b-half-tiles {}
.b-half-tile {
  flex-direction: row;
  max-height: 650px;
  
  &:nth-child(even) {
    .b-half-tile__photo {
      order: 0;
    }
  }
}
.b-half-tile__inner {
  order: 1;
  flex-basis: 50%;
  @include flex(column);
}
.b-half-tile__photo {
  order: 2;
  flex-basis: 50%;
  padding-bottom: 34.4%;
}
.b-halfphoto__img {}
.b-half-tile__headline {
  margin-bottom: .5em;
}
.b-half-tile__subhead {
  max-width: 280px;
  margin-bottom: 3.75em;
}
.b-half-tile__text {}


/*-------------------------------------------
  RO: IFRAME AND SCRIPTS BUCKET
--------------------------------------------*/
.b-section_scripts {}
.b-section__wrap-outer_scripts {}
.b-section__wrap-inner_scripts {}
.b-script-holder {
  //padding-bottom: 90%;
  iframe {}
}

/*-------------------------------------------
 RO: PAGE HEADER: HERO
--------------------------------------------*/
.b-section_hero {
  min-height: 500px;

  z-index: 300;
  width: 90%;
}
.b-hero__headline {
  max-width: 75%;
  font-size: 3em;
}

/* SUBPAGE LAYOUT */
.b-section_hero_subpage {
  
  min-height: 250px;
}
.b-section__wrap-outer_subpage {

}
.b-section__wrap-inner_subpage {
  padding: 0;
}
.b-hero_headline-holder {
  min-height: 3.25em;
}
.b-hero__headline_subpage {
  font-size: 2em;
  margin: -.75em auto 0;
  max-width: none;
}


.b-hero-slide__buttons {
}
a.b-hero-slide__button {
  &:hover, &:focus {
  }
}



/*-------------------------------------------
  RO: INTRODUCTION TEXT
--------------------------------------------*/
.b-section_intro {}
.b-section__wrap-outer_intro {

}
.b-section__wrap-inner_intro {}

.b-intro__headline {
  font-size: 1em;
  text-transform: uppercase;
}
.b-intro__text {
  
  p {    
    &:first-child {
    }
  }
}
.b-section_intro_subpage {
  .b-section__wrap-inner_intro {
    padding-top: 1em;
  }
}

/*-------------------------------------------
  RO: BODY TEXT
--------------------------------------------*/
.b-section_intro {

}
.b-section__wrap-outer_bodytext {

}
.b-bodytext__headline {

}
.b-bodytext__text {
  @include flex-justify(space-between);
  text-align: left;
  p {
    //max-width: 85%;  
  }
}
.b-text-columns-span {
  flex-basis: 45%;
}
/*-------------------------------------------
  RO: OVERVIEW (SHARES WITH BODY TEXT)
--------------------------------------------*/
.b-section__wrap-outer_overview {

}
.b-section__wrap-inner_overview {
  @include flex(row);
  align-items: flex-start;
  @include flex-justify(space-between);
}
.b-bodytext__overview {
  text-align: left;
}

.b-section-label {
  flex-shrink: 1;
  flex-basis: 25%;
  text-align: left;
  max-width: 150px;
  @include flex(row);
  align-items: flex-start;
}
.b-section-label__number {
  font-size: 2.25em;
}
.b-section-label__text {
  
}
.b-overview__body {
  flex-basis: 60%;
  flex-shrink: 1;
}
.b-overview__headline {
margin-top: 0em;
}

/*-------------------------------------------------------
  RO: TEXT WITH THIRD PARTY SCRIPT (SOCIAL MEDIA FEED)
-------------------------------------------------------*/
.b-section_text-script {}
.b-section__wrap-outer_text-script{}
.b-section__wrap-inner_text-script{}
.b-text-script__content {
  flex-direction: row;
}

//text content
.b-text-script__copy {
  text-align: left;
  padding-right: 5%;
  max-width: 50%;
}
.b-text-script__copy_left {}
.b-text-script__copy_right {}

.b-text-script__headline{
  margin-left: 0.15em;
}
.b-text-script__subheadline{}
.b-text-script__text{
  p {}
  a, img {
    margin: 0 2% 0 0;
  }
}
.b-text-script__button {

}

//third party script content
.b-text-script__script {}
.b-text-script__script_left {}
.b-text-script__script_right {}
.b-third-party-script {
  iframe {
    height: 500px;
  }
}

/*-------------------------------------------
  RO: TEXT EDITOR BLOCK
--------------------------------------------*/
.b-section_textedit {}
.b-section__wrap-outer_textedit {

}


/*-------------------------------------------
  RO: PHOTO BREAK
--------------------------------------------*/
.b-photo-break {
  min-height: 230px;
}
.b-photo-break_tall {
  min-height: 276px;
}
/*-------------------------------------------
  RO: PHOTO MENU
--------------------------------------------*/
.b-section_photo-menu {
  
}
.b-section__wrap-outer_photo-menu {
  
}
.b-section__wrap-inner_photo-menu {
  
}
.b-photo-menu__headline {
  
}
.b-photo-menu__text {
  
}
.b-photo-menu {
  
}
.b-photo-menu__item {
    font-weight: bold;
    display: inline-block;
}
.b-photo-menu__button{
  
}
/*-------------------------------------------
  RO: MAP MENU
--------------------------------------------*/
.b-section_map-menu {
  
}
.b-section__wrap-outer_map-menu {
  
}
.b-section__wrap-inner_map-menu {
  
}
.b-map-menu__headline {
  
}
.b-map-menu__text {
  
}
.b-map-and-menu {
}
.b-map-and-menu__menu {
  text-align: left;
    flex-basis: 40%;
}
.b-map-and-menu__map {
    flex-basis: 40%;
}
.b-map-menu {
  
}
.b-map-menu__menu {}
.b-map-menu__item {
    font-weight: bold;
    display: inline-block;
}
.b-map-menu__button{
  
}
/*-------------------------------------------
  RO: RELATED PAGES
--------------------------------------------*/
.b-section_relpages {}
.b-section__wrap-outer_relpages {}
.b-section__wrap-inner_relpages {}
.b-relpages {}
.b-relpage {
  
}
.b-relpage__inner {}
.b-resp-image_relpage {
  padding-bottom: 50%;
}
.b-image_relpage {
  
}
.b-relpage__headline {

}
.b-relpage__text {}

/*-------------------------------------------
  RO: TEXT OVER PHOTO
--------------------------------------------*/
.b-section-textphoto {
  min-height: 365px;
  width: 90%;
}
.b-section__wrap-outer_textphoto {}
.b-section__wrap-inner_textphoto {}
.b-section-textphoto__title {
  font-size: 2.25em;
}
.b-section-textphoto__text {
   p {}
}
.b-section-textphoto__button {}
.b-section_collapsed-top {
  .b-section__wrap-inner_textphoto {
    padding-top: 3em !important;
  }
}
/*-------------------------------------------
  RO: CTA OVER VIDEO (PHOTO BACKUP)
--------------------------------------------*/
.b-section_cta-video {
  min-height: 300px;
}
.b-video-background {}
.b-section__wrap-outer_cta-video {}
.b-cta-bar {
  width: auto;
  padding: 0px 5% 10px;
  white-space: nowrap;
}
.b-cta-bar__title {
  text-align: left;
  max-width: 92%;
  margin: -28px auto 0;
}
.b-cta-bar__text {
  margin: 0.6em auto .5em;
}
.b-cta-bar__button {
  margin-left: 10px;
  margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 3%;
}


/*-------------------------------------------
  RO: TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {
  overflow: hidden;
  overflow-y: visible !important;
}
.b-section__wrap-outer_text-side-image{

}
.b-section__wrap-inner_text-side-image{
  
}

.b-text-side-image__content {
  @include flex-justify(space-between);
}
.b-side-text_left {
  order: 0;
}
.b-side-text_right {
  order: 1;
}

//image content
.b-image-side_left {}
.b-image-side_right {}
.b-side-photos {}
.b-side-photo {}
.b-side-photo__image{}


.b-image-side_left {
  order: 0;
}
.b-image-side_right {
  order: 3;
}
.b-side-photos {
  //@include flex(row);
  //@include flex-justify(space-between);
  //flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  -webkit-column-gap:   2em;
  -moz-column-gap:      2em;
  column-gap:           2em;

}
.b-side-photo {
  min-width: 0;
  display: block;

  //height: auto;
  padding-bottom: 78%;
  

}
.b-side-photo__image{}


.b-side-photos_1 {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  .b-side-photo {
    flex-basis: 100%;
    margin-bottom: 0em;
    padding-bottom: 78%
  }
  
  .b-side-photo:first-child {
    
  }
  
  &.t-1of3 {
    .b-side-photo {
      flex-basis: 100%;
      margin-bottom: 0em;
      padding-bottom: 164%
    }
  }
}
.b-side-photos_2 {
  
  .b-side-photo {
    flex-basis: 46%;
  }
  .b-side-photo:first-child {
    
  }
  .b-side-photo:last-child {
    
  }
  
  &.t-1of3 {
    flex-wrap: wrap;
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    
    .b-side-photo {
      flex-basis: 100%;
    }
    .b-side-photo:first-child {
      margin-bottom: 8%;
    }
  }
}
.b-side-photos_3 {
  
  .b-side-photo {
    flex-basis: 46%;
  }
  .b-side-photo:first-child {
    margin-bottom: 8%;
  }
  .b-side-photo:nth-child(2) {
    
  }
  .b-side-photo:last-child {
    padding-bottom: 164%;
    break-before: column;
    .b-side-photo__image{
      max-width: none;
    }
  }
  
  &.t-1of3 {
    flex-wrap: wrap;
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    
    .b-side-photo {
      flex-basis: 100%;
      margin-bottom: 8%;
    }
    .b-side-photo:last-child {
      break-before: inherit;
      margin-bottom: 0;
      padding-bottom: 78%;
    }
  }
  
}
.b-side-photos_4 {
  .b-side-photo {
    flex-basis: 46%;
  }
  .b-side-photo:first-child {
    margin-bottom: 8%;
  }
  .b-side-photo:nth-child(3) {
    margin-bottom: 8%;
  }
}

//text content
.b-side-text {
  text-align: left;
}
.b-side-text__headline{
  margin-top: 0;
}
.b-side-text__subheadline{}
.b-side-text__text{}
.b-side-text_button {
  margin-top: 2em;
}





/*-------------------------------------------
  RO: HALF PANELS
--------------------------------------------*/
.b-half-panel {
  margin-bottom: 0;
  max-width: 48%;
}
.b-half-panel_left {}
.b-half-panel_right {}
.b-half-panel__button {}
.b-half-panel__headline {}
.b-half-panel__text {}
.b-half-panel__button {}






/*-------------------------------------------
 RO: COACHES PAGE 
--------------------------------------------*/

.b-section-coaches {}
.b-section__wrap-outer_coaches {}
.b-section__wrap-inner_coaches {}
.b-coaches {}
.b-coach {}
.b-coach__photo {}
.b-coach__image {}
.b-coach__details {}
.b-coach__name {

}
.b-coach__title {
  font-size: 1.125em;
}
.b-coach__link {}

/*-------------------------------------------
 RO: SINGLE EMPLOYEE/COACH PAGE 
--------------------------------------------*/
.b-empoyee-header {
  margin-bottom: 5em;
}
.b-section__wrap-outer_empoyee-header {}
.b-section__wrap-inner_empoyee-header {}
.b-empoyee-header__backlink {
  cursor: pointer;
}
.empoyee-header__profile {
  margin-bottom: -8em;
  align-items: flex-start;
}
.b-employee__photo {}
.b-employee__image {}
.b-employee-details {
  margin-top: 2em;
}
.b-employee-details__name {}
.b-employee-details__title {}
.b-employee-details__phone {}
.b-employee-details__email {}
.b-employee-social-sites {}
.b-employee-social-site {}
.b-employee-social-site__link {}
.b-empoyee-body {}
.b-section__wrap-outer_empoyee-body {
  max-width: 80%;
}
.b-section__wrap-inner_empoyee-body {}
.b-wysiwyg_employee-bio {}


/*-------------------------------------------
 RO: BIZ OPS PAGE 
--------------------------------------------*/
.b-section-boards {}
.b-section__wrap-outer_boards {}
.b-section__wrap-inner_boards {}
.b-section__title_boards {}
.b-boards {}
.b-board {}
.b-board__name {}
.b-board__members {}
.b-board-member {

}
.b-board-member__name {}
.b-board-member__position {}
.b-board-member__title {}

/*-------------------------------------------
 ICON LIST (OR CAROUSEL)
--------------------------------------------*/
.b-section_icon-list {}
.b-section__wrap-outer_icon-list {}
.b-section__wrap-inner_icon-list {}
.b-section__title_icon-list {}
.b-section__intro_icon-list {}
.b-icon-list {}
.b-icon {}
.b-icon__inner {}
.b-icon__link {}
.b-icon__img {}
.b-icon__text {}
.b-icon__button {}

/*** CAROUSEL VERSION ***/
.b-section_icon-list .bx-viewport {}
.b-section_icon-list .bx-wrapper {}
.b-icon-list.js_icon_carousel {}
.b-icon-carousel-slide {}
 
/*-------------------------------------------
 INSET CONTENT PANEL
--------------------------------------------*/ 
.b-content-panel {
  width: 55%;
  padding: 0 6% 1em;
}
.b-content-panel__headline {
}
.b-content-panel__text {
}
.b-content-panel__button {
}
.b-hero__caption_inset-panel {
  display: block;
  right: 10px;
}







/*-------------------------------------------
  QUOTE CAROUSEL
--------------------------------------------*/
.b-section_quotes {
  z-index: 302;
  width: 90%;
}
.b-section__wrap-outer_quotes {
  width: 75%;
}
.b-section__wrap-inner_quotes {}
.b-quote__words {
  padding: 3.5em 0;
}
.b-quote__words:before, .b-quote__words:after {
  font-size: 150px;
}
.b-quote__words:before {
}
.b-quote__words:after {
}




/*-------------------------------------------
 VIDEO FEATURE
--------------------------------------------*/
.b-section_video-feature {
  .b-section__wrap-inner {
    display: flex;
    flex-direction: row;
  }
}
.b-section_video-feature__text {
  flex-basis: 45%;
}
.b-section_video-feature__headline {
  text-align: left;
  margin-bottom: .25em;
  font-size: 2.5em;
  line-height: 1em;
  
  span {
    font-size: 0.75em;
    display: block;
  }
}
.b-section_video-feature__intro {
    text-align: left;
}
.b-video-poster {
  max-height: none;
  //max-width: 648px;
  margin-left: auto;
  flex-basis: 50%;
  flex-grow: 1;
}
.b-video-poster__link {
    max-height: 360px;
}
.b-video-poster__play-button {

}



/*-------------------------------------------
 RO: SEARCH RESULTS PAGE
--------------------------------------------*/ 
.b-search-title {
  margin-top: 2em;
}
.b-headline_search-results {
  span {}
}
.b-search-results_group-name {}
.b-search-results_group {
    padding-bottom: 3em;
    .b-feature-event, .b-regular-post-item, .b-feature-card_programs, article {
      flex-basis: 30%;
    }
    .b-feature-event {
      &:last-child {
        border-bottom: 1px solid $gray;
      }
    }
}

/*----------------------------------------------
 RO: PLUGINS
 ---------------------------------------------*/
//ADDTHIS SOCIAL SHARING
.b-share-buttons {
  padding-top: 4.375em;
  @include flex(column);

}
.b-share-button {
margin-bottom: 2em;
font-size: 1.5em;
@include transition(color .3s ease);
  
  &:visited, &:focus {
    color: $gray;
    &:hover {
      color: $primary-color;
    }
  }
}
.b-share-button_label {
 font-size: .875em;
 color: $dark-gray;
}
/* FULLPAGE.JS */
#fp-nav.left {
    left: 10%;
    transform: translate(0, -50%);
    margin-top: 0 !important;
}

#fp-nav ul li a:focus {
  outline: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 3px;
    width: 50px;
    margin: 0;
    border-radius: 0;
    background: $secondary-color;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 0%;
    position: absolute;
    z-index: 1;
    height: 3px;
    width: 30px;
    border: 0;
    background: $gray;
    left: 50%;
    transform: translate(-50%, 0);
    top: 60%;
    margin: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    
    
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 40px;
    height: 3px;
    margin: 0;
    background: $secondary-color;
}
#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    width: 30px;
    height: 20px;
    margin: 2.25em auto;
    position: relative;
    
    &:first-child {
      display: none;
    }
    
    &:nth-child(2) {
      a span {
        display: block;
        content: "";
        width: 3px;
        height: 50px;
        position: absolute;
        border-left: 3px solid;
        top: -23px;
        left: 15px;
        -webkit-transition: all 0.045s ease-in-out;
        -moz-transition: all 0.045s ease-in-out;
        -o-transition: all 0.045s ease-in-out;
        transition: all 0.045s ease-in-out;
        color: $gray;
            background: transparent;
      }
      a.active span {
        height: 50px;
        width: 3px;
        top: -23px;
        left: 15px;
        color: $secondary-color;
      }
      &:hover {
        a span {
          height: 50px;
          width: 3px;
          top: -23px;
          left: 15px;
          color: $secondary-color;
        }
      }
      
      a span:after {
        display: block;
        content: "";
        height: 0px;
        width: 0px;
        top: 24px;
        left: -25px;
        position: absolute;
        border-top: 3px solid;
        
        -webkit-transition: all 0.045s ease-in-out;
        -moz-transition: all 0.045s ease-in-out;
        -o-transition: all 0.045s ease-in-out;
        transition: all .045s ease-in-out;
      }
      
      a.active span:after {
        height: 3px;
        width: 50px;
        top: 24px;
        left: -25px;
      }
      
      &:hover {
        a span:after {
          height: 3px;
          width: 50px;
          top: 24px;
          left: -25px;
        }
      }
    }
    
    &:last-child {
      a span, a.active span {
        display: block;
        background: $gray;
        content: "";
        width: 3px;
        height: 50px;
        position: absolute;
        border-left: 3px solid $gray;
        top: 0px;
        left: 15px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        
        &:after {
            display: block;
            content: "";
            left: 0px;
            bottom: 0px;
            width: 16px;
            height: 16px;
            transform-origin: 3px 16px;
            /* transform-origin: 50% 50%; */
            transform: translate(-41%, -1em) rotate(135deg);
            box-shadow: inset -3px 3px 0 0 $gray;
            border-radius: 0;
            position: absolute;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }
      }
      &:hover {
        a span {
          width: 3px;
          height: 50px;
          top: 0px;
          left: 15px;
          border-left: 3px solid $secondary-color;
          
          &:after {
            box-shadow: inset -3px 3px 0 0 $secondary-color;
          }
        }
      }
      
      
    }
}