/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
body {
  font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.text-center {
  text-align: center;
}

/*---WYSIWYG CONTENT---*/
.b-wysiwyg {
  max-width: 100%;
  
  h2 {
    font-weight: bold;
    margin-top: 0.75em;
  }
  p {
    font-size: 0.94em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  ul, ol, table, dl {}
  
  ul, ol {
    font-size: 0.94em;
    margin: 2em 0 2em 5%;
    width: 90%;
    
    li {
      line-height: 1.2em;
      margin: 1em 0;
      list-style-type: disc;
      list-style-position: outside;
    }
  
  }
  
  ul {
    li {}
  }
  
  ol {
    li {
        list-style-type: decimal;
    }
  }
  

  
  
  
}


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 85%;
	margin: 0 auto;
	//overflow: hidden;
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}

	/* on click */
	&:active {

	}
  /* visited */
   &:visited {
     color: $link-color;
   }
	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	color: $headline-color;
	font-family: $headline-font;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
		color: $text-color;
		
		&:visited, &:hover {
		  color: $text-color;
		}
	}
	
	small, span {
	 
	  line-height: 1;
	  color: $headline-color;
	  display: inline-block;
	}
}

h1, .h1 {
	font-size: 2.25em;
	font-weight: bold;
  font-family: $headline-font;
  
	line-height: 1.278;
	
	small, span {
    font-size: 85%;
  }
}

h2, .h2 {
	font-size: 1.75em;
	
	small, span {
    font-size: 85%;
  }
}

h3, .h3 {
	margin: 1.25em auto .75em;
	font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  
	small, span {
    font-size: 85%;
  }
}

h4, .h4 {
	font-size: 1.125em;
	font-weight: 700;
  line-height: 1.333em;
  margin: 1.5em auto .75em;
  color: $secondary-color;
  
  small, span {
    font-size: 85%;
  }
}


h5, .h5 {
  font-size: 1.125em;
  line-height: 1.5em;
  margin: 1em auto 2em;
  
  small {
    font-size: 85%;
  }
}
h6, .h6 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  margin: 2em auto 1em;
  
  small {
    font-size: 100%;
  }
}

blockquote {
   font-weight: bold;
    font-size: 1.125em;
    background: #FFF none repeat scroll 0 0;
    border-left: 10px solid $meta-gray;
    margin: 1.5em 0px;
    padding: 0.5em 10px .5em 20px;;
    
    p {
      display: inline;
    }
    
    &:before {
      color: $meta-gray;
      content: open-quote;
      font-size: 3em;
      line-height: 0em;
      margin-right: 0.1em;
      vertical-align: -0.4em;
    }
    &:after {
      color: $meta-gray;
      content: close-quote;
      font-size: 3em;
      line-height: 0em;
      margin-left: 0.1em;
      vertical-align: -0.4em;
    }
}

p {
  img {
    max-width: 100%;
  }
}
/*********************
HEADER STYLES
*********************/

.b-header {
  text-align: left;
  font-family: $headline-font;
	background-color: $white;
	@include flex(column);
	@include flex-justify(flex-start);
  align-items: flex-start;
}
.b-header__inner {
  @include flex(row);
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */   
  flex-wrap: wrap;
  width: 85%;
}
.b-header__logo {
		margin: 0.357em 0px 0.357em 0;
    flex-basis: 75%;
    padding-right: 10px;
    
		a {
			color: $black;
			
			img {
			  max-width: 100%;
			  vertical-align: text-top;
			}
		}
	}

.b-header__navigation {
  width: 100%;
  display: none;
  @include flex(column);
  align-items: flex-start;
}


/*-------------------------------------------
NAVIGATION STYLES
--------------------------------------------*/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {
    &:hover,
    &:focus {
      
    }
		a {
			display: block;
			text-decoration: none;
			

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover {
        
			}
			&:focus {
        
      }
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {
      margin: 0;
			li {
        
				a {
					padding-left: 30px;

					&:hover,
					&:focus {
					  
					}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
    
		&>a {
      font-weight: bold;
		}

	}  /* end current highlighters */

} /* end .nav */

/* menu-items */
.menu-item {
  
  a{
    padding: .75em 0px;
    color: $text-color;
  
    &:hover, &:visited:hover {
      color: $text-color;  
    }
    &:visited, &:focus {
      color: $text-color;
    }
  }
}
.b-menu {
  font-size: .815em;
}
.b-menu__list {
  @include flex(column);
  align-items: flex-start;
  @include flex-justify(flex-start);
  text-transform: uppercase;
}
.b-menu__list-item {
        margin-bottom: 1em;
    a {
      
    }
  }
/*
 * Main Menu
 */
.b-menu_main {
  margin: 1.5em 0;
  
  li {
    
  }
}
.b-menu__list_main {
  flex-wrap: wrap;
}
/*
 * Highlighted Main Menu
 */
.b-menu_highlighted {
  /* highlight current page */
  li.current-menu-item,
  li.current_page_item,
  li.current_page_ancestor {
    
    &>a {
      font-weight: normal;
    }

  }  /* end current highlighters */
}
.b-menu__list_highlighted {
  
}

/*
 * Highlighted Main Menu
 */
.b-menu_highlighted {
  margin-top: 12px;
  font-size: .875em;
  flex-basis: 100%;
  width: 100%;
}
.b-menu__list_highlighted {
  justify-content: center;
  flex-direction: row;
  margin: 2em auto;
  width: 100%;
  
  .menu-item {
    background: $light-gray;
    margin: 0;
    padding: 0 16px;
    font-weight: bold;
    font-family: "roboto condensed";
    flex-grow: 1;
    text-align: center;
    
    &:hover {
      background: darken($light-gray, 10%);
    }
    
    &:first-child {
      background: $primary-color;    
      
      a {
         color: $white;
      }
      
      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}

/*
 * Utility Menu
 */
.b-menu_ute {
  order: 2;
  width: 96%;
  margin: 0 auto 2em;
  flex-direction: column;
}
.b-menu__list_ute {
  
}
//SEARCH
.b-search-button_launch {
    margin-left: 10px;
    display: none;
}
.b-header {
  form#searchform {
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid $light-gray;
    width: 100%;
    
    label {
      display: block;
    }
    input[type="text"] {
      width: 58%;
      display: inline-block;
      vertical-align: middle;
          margin-bottom: 0;
    }
    input[type="submit"] {
      margin-top: 0;
      width: 40%;
      vertical-align: middle;
      display: inline-block;
      padding: 5.5px 3%;
      border-width: 3px;
    }
  }
}

/*
 * SubMenu
 */
.b-submenu {
  display: none;
  order: 3;
  width: 100%;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 2%;
    
  a, a:hover, a:focus, a:visited {
    
  }
  
  .current-menu-item {
    
    
    a, a:hover, a:focus, a:visited {
      color: $black;
      font-weight: bold;
    }

  }
}


//*********MOBILE NAV SWITCH**************//
.b-mobile-nav-switch {
  cursor: pointer;
    text-align: right;
    position: relative;
    vertical-align: top;
    float: right;
    z-index: 10;
    transition: all 500ms ease-in-out;
    width: auto;
    margin: .95em 0px 0.8em auto;
}

a.b-mobile-nav-switch__link, a.b-mobile-nav-switch__link:link, a.b-mobile-nav-switch__link:hover, a.b-mobile-nav-switch__link:visited, a.b-mobile-nav-switch__link:focus {
  font-size: .875em;
  display: inline-block;
  text-decoration: none;
  border: 2px solid $black;
  padding: 0.4em .7em;
  border-radius: 7px;
  vertical-align: middle;
  color: $black;
}
  

/*********************
POSTS & CONTENT STYLES
*********************/
.alignleft, img.alignleft {
    margin: 0 1.5em 1.5em 0;
    display: inline;
    float: left;
  }
  .alignright, img.alignright {
    margin: .0 0 1.5em 1.5em;
    display: inline;
    float: right;
  }
  .aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  img.aligncenter {
    display: inline-block;
  }
#content {
	//text-align: left;
}
.b-single-post-header {
  min-height: 400px;
  width: 85%;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			text-align: left;

			header {
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;
				margin-top: 2em;

				p {
					margin: 0;
				}
			}
			
			ul, ol {
			  margin-left: 3em;
			  padding-right: 2em;
			}
			ul li {
			  margin-bottom: 1em;
			      
			  &:before {
          content: "+";
          margin-left: -16px;
          margin-right: 6px;
        }
			}
			ol {
			  list-style-type: decimal;
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
      line-height: 1;
      color: $dark-gray;
      letter-spacing: .15em;
      font-weight: bold;
      font-size: .875em;
			time {}
		}
    .entry-meta_cats {
      font-size: .875em;
    }


		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}


			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 1.5em 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}
	.b-resp-image_sidebar {
		display: none;
	}
//AUTHOR BIO BOX (END OF POSTS)
.b-author-box {
  
  max-width: 650px;
}
.b-author-box__wrap {
  padding: .75em;
  align-items: center;
}
.b-author-box__photo {
  flex-basis: 40%;
}
.b-author-box__image {}
.b-author-box__content {
  flex-basis: 55%;
    font-size: .75em;
    text-align: left;
}
.b-author-box__meta {
margin-top: 0;

}
.b-author-box__name {
  font-family: $serif;
  color: #2f4e66;
    margin-top: -0.35em;
    font-size: 2.5em;
    margin-bottom: 0.25em;
}
.b-author-box__title {
  font-family: $serif;
  //color: #fff;
    font-style: italic;
    font-size: 1.725em;
    margin-top: .25em;
    margin-bottom: .5em;
}
.b-author-box__link {
  margin-top: .5em;
    margin-bottom: .5em;
}
.b-backlink {
  position: relative;
  padding-left: 14px;
    font-size: .875em;
    margin-bottom: 2em;
    display: block;
  
  &:before {
    display: block;
    content: "";
    left: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    transform: translate(0%, -5.5px) rotate(225deg);
    box-shadow: inset -1.5px 1.5px 0 0 #2f4e66;
    border-radius: 0;
    position: absolute;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
}
/*-------------------------------------------
INDEX/ARCHIVE STYLES
--------------------------------------------*/
.b-posts-page {
  text-align: center;
}
.b-posts {
   margin-top: 2em;
}
.b-regular-post {
  flex-basis: 100%;
  position: relative;
  border-bottom: 2px solid $gray;
  padding-bottom: 3em;
  margin-bottom: 3em;
  text-align: left;
  
  &:last-child {
    border-bottom: none;
  }
}
.b-regular-post__meta {
    margin: 0 auto 1em;
    line-height: 1;
    color: $dark-gray;
    letter-spacing: .15em;
    font-weight: bold;
    font-size: .875em;
}
.b-regular-post__image {
  
}
.b-regular-post__image-link {
  position: relative;
  display: none;
  margin-right: 20px;
  
  &:hover {
      .b-regular-post__image_hover{
        color: rgba(255,255,255, 1);
        background-color: rgba(000,000,000, .5);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
}
.b-regular-post__image_hover{
  
  background-color: rgba(000,000,000, 0);
  font-family: $headline-font;
  font-size: 1.25em;
  text-transform: uppercase;
  @include transition(background-color .2s ease, color .2s ease);
  display: block;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2%;
    right: 2%;
  color: rgba(255,255,255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-regular-post__content {
  flex-grow: 1;
}
.b-regular-post__title {
  color: $secondary-color;
  font-weight: bold;
  
  a {
    color: $secondary-color;
    &:visited, &:hover, &:visited {
      color: $secondary-color;
    }
  }
}
.b-regular-post__text {
  font-size: .875em;
  margin-bottom: .5em;
}
.b-regular-post__button {
    font-size: .875em;
}
/*--- SORT BAR ---*/
.b-sortbar {
  margin: 0;
  font-family: $sans-serif;
  font-size: .75em;
  font-weight: bold;
    letter-spacing: .05em;
    margin-bottom: 1em;
    color: $secondary-color;
        border-top: 1px solid #ddd;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}
.b-sortbar_label {
  padding: .5em 1em;
  margin: 0 3px 6px;
  color: $secondary-color;
  display: none;
}
.b-post-sort-options {
  //border: 1px solid silver;
  @include flex(row);
  @include flex-justify(center);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  
  -webkit-flex-wrap: wrap;
  margin-left: -1em;
  
}
.b-post-sort-option {
  color: $secondary-color;
  //background: $light-gray;
  border-radius: 3px;
  //flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: .5em 1em;
    margin: 0 3px 6px;
    float: none;
    text-align: center;
    cursor: pointer;
    float: none;
  
  &:after {
    //display: inline-block;
    //content: "";
    //width: 1px;
  }
  
  &:last-child {
    //flex-grow: 0;
  }
}
.b-post-sort-option_active {
  background: $primary-color;
  color: $white;
}
/*-------------------------------------------
 FEATURED POSTS ON INDEX PAGE
--------------------------------------------*/
.b-featured-posts {
  text-align: center;
}
.b-featured-post {
    margin-bottom: 1.5em;
    vertical-align: top;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.b-featured-post__inner {
  padding: 0em;
  overflow: hidden;
  
  border: 0px solid #000000;
  position: relative;
  text-align: center;
}
.b-resp-image_featured-post {
    height: 0;
    padding-bottom: 50%;
}
.b-featured-posts__title {
    margin-bottom: -1em;
    margin-top: .25em;
    z-index: 10;
    position: relative;
}
.b-resp-image_featured-post {
  img {
    max-width: 102%
  }
}
.b-featured-post__content {
  background: #cde3e9;
  overflow: hidden;
  padding: 2em 1.25em 1.5em;
}
.b-featured-post__meta {
    margin: 0;
    line-height: 1;
    color: $dark-gray;
    letter-spacing: .15em;
    font-weight: bold;
    font-size: .875em;
}
.b-featured-post__headline {
  margin-top: .25em;
  font-size: 1.75em;
  max-width: 100%;
    color: $secondary-color;
}
.b-featured-post__text {
  font-size: .875em;
  color: $secondary-color;
      max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.b-featured-post__button {
  margin: 1em auto;
  border-color: $dark-gray;
}
/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

.b-widget__title {
  margin-bottom: 1em;
  font-size: 1.75em;
}

.widget {

	ul {

		li {

			&:first-child {}

			&:last-child {}

			a {}

			/* deep nesting */
			ul {}

		}

	}

}
	
.widget_search #searchsubmit {
	background: #ff9600 none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	font-size: 0.875em;
	height: 26px;
	line-height: 28px;
	text-transform: uppercase;
}

.no-widgets {
	display: none;
}

.widget_nav_menu {
  .menu-item {
    a {
      @extend %btn;
    }
  }
}
/*********************
FOOTER STYLES
*********************/

.b-footer {
	clear: both;
	background-color: $white;
	  color: $secondary-color;
}
.b-footer__top {
  padding: 2em 0;
  width: 100%;
}
.b-footer-widget {
  text-align: left;
  padding: 0;
}
.b-footer-widget_two {
  border-top: 2px solid $gray;
      margin-top: 2em;
    padding-top: 1em;
}
.b-footer__bottom {
  border-top: 1px solid $dark-gray;
  background: $gray;
  width: 100%;
}

.b-footer__inner {
  @include flex(column);
  align-items: flex-start;
}
.b-footer__inner_top {
  margin-top: 3em;
}
.b-footer__inner_bottom {
}	

.b-footer__nav {
  margin-bottom: 1em;
  text-align: left;
  font-size: .75em;
  
			li.menu-item {
			  
			  a, a:hover, a:visited:hover {
			    color: $secondary-color;
			    font-size: .875em;
			    font-weight: bold;
			    padding-left: 0;
          padding-right: 20px;
			  }
			  a:hover, a:visited:hover {
			   text-decoration: underline;
			  }
			}

		} /* end .b-footer__nav */


.copyright {
	  font-size: .75em;
	  font-weight: bold;
	  text-align: left;
	}
	
/*********************
ACF oEmbed
*********************/
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  } 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
.b-vertical-holder {
  //@include vertical-align();
  display: table;
  .b-vertical-inner {
    display: table-cell;
    vertical-align: middle;
  }
  
}
.b-resp-image {
  overflow: hidden;
  
  img {
    max-width: 100%;
    height: auto;
    //min-height: 100%;
    vertical-align: middle;
  }
}

/**************************
 * CHARITY SEALS LOOP/BLOCK
***************************/
.b-charity-seals {
  
}
.b-charity-seals__list {
  flex-direction: row;
}
.b-charity-seal {
  margin-right: .5em;
  a {
    img {
      
    }
  }
}
/**************************
 * SOCIAL PROMO LOOP/BLOCK
***************************/
.b-social-promo {
  order: 2;
}
.b-social-links {
  flex-direction: row;
  margin: 1em 0 0;
}
.b-social-link {
  a {
    img {
      
    }
  }
}
.b-social-link .b-menu__list-item {margin-right: 1em;}


/*-------------------------------------------------
 PAGE COVER INTRO
---------------------------------------------------*/
.b-page-cover {
    position: fixed;
    z-index: 30000;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 97px;
   // opacity: .5;
}
.b-section__wrap-outer_page-cover {
  position: relative;
  z-index: 10;
  width: 86%;
  margin: 0 auto;
}
.b-headline_page-cover {
  max-width: 100%;
  margin: .25em 0 .5em 0.35em;
  text-align: left;
}
.b-page-cover__close {
  position: absolute;
  z-index: 30001;
  top: 20px;
  right: 20px;
  font-weight: bold;
  background: $gray;
  padding: 1px 6px;
    height: 25px;
    width: 25px;
  @include border-radius(3px, 3px, 3px, 3px);
  cursor: pointer;
  opacity: .3;
}



/**************************
 * BUILDING BLOCK RULES
***************************/

/*-------------------------------------------------
 HORIZONTAL RULES
---------------------------------------------------*/
.b-rule_small {
    width: 33%;
}
.b-rule_medium {
    width: 56%;
}
.b-rule_large {
    width: 90%;
}

/*---HEADLINES AND SUBHEADS---*/
.b-headline {
  font-family: $headline_font;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: .25em;
      margin-top: 0;
  
  span {
      font-size: 100%;
  }
}

.b-headline_underscore {
  color: $secondary-color;
  border-bottom: 3px solid $primary-color;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: .5em;
  padding-bottom: .5em;
  margin-top: 2em;
  margin-bottom: 1em;
      margin-left: auto;
    margin-right: auto;
    
    span {
      color: $secondary-color;
    }
}
.b-subhead {
  margin-top: .25em;
}


/*-------------------------------------------------
 Section Block
---------------------------------------------------*/
.b-section {
  //overflow: hidden;
  clear: both;
  position: relative;
  
  
  &:first-child {

  }
}
// This and '.wrap' are used for horizontal padding;
.b-section__wrap-outer {
  
}
// This is used for vertical padding;
.b-section__wrap-inner {
  padding: 2em 0;
}
//Use for blocks that have a full photo background, but still need spacing outside of them;
.b-section_outer-pad {
  margin: 2em 0;
}

//Collapse classes
.b-section_collapsed-top {
  .b-section__wrap-inner {
    padding-top: 0;
  }
}

.b-section_collapsed-bottom {
  .b-section__wrap-inner {
    padding-bottom: 0;
  }
}

.b-section_collapsed-both {
  .b-section__wrap-inner {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.b-section_outer-pad.b-section_collapsed-top {
  margin: 0em 0 2em;
  
  .b-section__wrap-inner {
    padding-top: 2em;
  }
}
.b-section_outer-pad.b-section_collapsed-bottom {
  margin: 2em 0 0em;
  
  .b-section__wrap-inner {
    padding-bottom: 2em;
  }
}
.b-section_outer-pad.b-section_collapsed-both {
  margin: 0em 0 0em;
  
  .b-section__wrap-inner {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

//common section items
.b-section__title {
    margin-top: 1em;
    z-index: 10;
}
.b-section__title_tucked-bottom {
  top: -0.5em;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}
.b-section__title_tucked-top {
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
}
.b-section__intro {
  font-size: .94em;
  margin-bottom: 2em;
}
.b-section__icon {
  margin: auto;
  display: block;
}
.b-section__headline {
  margin-top: 0.25em;
  margin-bottom: 0.7em;
  text-align: center;
}

.b-section_tucked-title {
  margin-top: 3.75em;
}

/*-------------------------------------------
 SECTION INTRO TEXT (reusable section header)
--------------------------------------------*/
.b-section-intro {
  text-align: center;
}
.b-section-intro__title, .b-section-intro__subhead{
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.b-section-intro__headline_big {
  font-size: 2em;
  font-weight: 700;
}
.b-section-intro__headline_medium {
  font-size: 1.75em;
  font-weight: 700;
}
.b-section-intro__headline_small {
  font-size: 1.6em;
}
a.b-section-intro__button {
  font-size: .75em;
}
/* CAPTION */
.b-section-intro__caption {
    position: absolute;
    bottom: 8px;
    right: 2%;
    margin-bottom: 0;
    font-size: .785em;
}
/*-------------------------------------------
 COLORED BLOCK LISTS
--------------------------------------------*/
.b-colored-list {
  margin: 0.2em 0;
    
    a {
      text-decoration: none;
      cursor: pointer; 
      
      &:hover {
        cursor: pointer;
      }
      
      &:hover > .b-colored-list__bkg {
      opacity: .8;
      cursor: pointer;
      }
    }
        
}
.b-colored-list__bkg {
  padding: 1em 5%;
  border-radius: 10px;
}

.b-colored-list__title, .b-colored-list__text {
color: #fff;
text-align: left;
}
.b-colored-list__title {
  margin-top: .5em;
}
/*-------------------------------------------
 EXTRA MENU (IN-PAGE MENU)
--------------------------------------------*/
.b-section_extra-menu {
  
  .b-section__wrap-outer {
  }
  .b-section__wrap-inner {
  }
  .b-section__wrap-inner_filled {
  }
}
.b-extra-menu__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.b-extra-menu__item {
    margin: .25em 1%;
    float: none;
    border: 0;
        
}
.b-extra-menu__link {
    //margin: 0 auto;
    padding: 0.5em 1em;
    margin: 1px;
    display: block;
}
/*-------------------------------------------
 COUNTDOWN CLOCK (FLIP CLOCK JS PLUG-IN)
--------------------------------------------*/
.b-countdown_header {
  margin: 0 auto;
  display: block;
  //width: 322px;
}
.flip-clock-wrapper {
  font-family: $sans-serif;
  -webkit-user-select: none;
  font-size: 1.5em;
  clear: both;
  margin: 0.5em 0 .75em;
  padding-top: 1em;
}
.b-hero-slideshow-center .b-countdown {
    display: inline-block;
    max-width: 481px;
    margin-right: -10px;
}
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 2px;
  width: 8.4%;
  max-width: 36px;
  height: 1.75em;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.75em;
  border-radius: 6px;
  background: #000;
}
.flip-clock-wrapper ul:first-of-type {
  margin-left: 0;
}
.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.75em;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {

}

.flip-clock-wrapper ul li a {

}

.flip-clock-wrapper ul li a div {
  font-size: 1em;
}

.flip-clock-wrapper ul li a div .shadow {

}

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {

}

.flip-clock-wrapper ul li a div.down {

}

.flip-clock-wrapper ul li a div div.inn {
  font-size: 1em;
}

.flip-clock-wrapper ul li a div.up div.inn {

}

.flip-clock-wrapper ul li a div.down div.inn {

}

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper .flip:first-child {
    margin-left: 0;
}

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  height: 40px;
  width: 11px;
}

.flip-clock-dot {
  display: block;
  background: #323434;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 2.4px; }

.flip-clock-divider .flip-clock-label {
  right: -49px;
  font-size: .5em;
}

.flip-clock-divider.hours .flip-clock-label {
  right: -51px; }
  
.flip-clock-divider.minutes .flip-clock-label {
  right: -55px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -58px; }

.flip-clock-dot.top {
  top: .6em;
}

.flip-clock-dot.bottom {
  bottom: .4em;
}

.inverse_text .flip-clock-divider .flip-clock-label {
  color: $white;
}

/*-------------------------------------------
 RO: CHARTS
--------------------------------------------*/
.b-section_chart {}
.b-section__wrap-outer_chart {
}
.b-section__wrap-inner_chart {
  justify-content: center;
}
.b-section__title_chart {
  font-size: 2em;
     margin-top: -1.65em;
}
.b-chart-contents {
  margin: 2em auto;
}
//text side
.b-chartblock__text-content {
  order: 1;
  margin: 1em auto;
  max-width: 95%;
}
.b-chartblock__headline {
  font-size: 3.2em;
  margin: 0 auto 0.1em;
  line-height: 1;
  font-weight: 100;
  
  span {
    font-weight: 100;
    vertical-align: top;
    margin-left: 3%;
    font-size: 75%;
  }
}
.b-chartblock__subhead {
  font-family: "roboto condensed", $sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.25em;
}
.b-chartblock__text {
  
  p:first-child {
    margin: 0.5em auto 1em;
    font-size: .825em;
  }
}
.b-chartblock__button {
  margin-top: .5em;
}

//chart side
.b-chartblock__chart {
  max-width: 95%;
  margin: 1em auto 0;
  order: 2;
  border: 1px solid rgba(000,000,000, .05);;
  padding: 1.75em 1em 0;
  background-color: rgba(000,000,000, .025);
  
  iframe {}
}
.b-chart-key {
  margin-bottom: 0.6em;
  @include flex(row);
  @include flex-justify(space-evenly);
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
}
.b-chart-key__datum {
    display: inline-block;
    font-size: 13px;
    margin: 1em auto;
    vertical-align: top;
    flex-shrink: 1;
    flex-grow: 0;
    padding: 0 0.41em;
    flex-basis: 30%;
}
.b-datum__color {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1em;
}
.b-datum__label, .b-datum__value {
  display:block;
  margin: 0;
  font-size: .875em;
  line-height: 1.4;
}
.b-datum__value {
  font-weight: bold;
  line-height: 1;
}
.b-datum__value:after {
  content: '%';
}

/*-------------------------------------------
 FAQs
--------------------------------------------*/
.b-faqs {
  text-align: left;
}
.b-faq {
    //border-bottom: $black 1px solid;
    background: $light-gray;
    margin-bottom: .5em;
    overflow: hidden;
    font-size: 0.94em;
}
.b-faq__question {
  padding: 1em 5% 1em 60px;
  cursor: pointer;
  position: relative;

}

.b-faq__question_sprite { 
  position: absolute;
  left: 15px;
    top: 30px;
  margin-top: -20px; /* half sprite height */
  width: 32px;
  height: 32px;
  background-image: url("../images/accordion-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -32px;
  overflow: hidden;
}
.b-faq__question_sprite.open { background-position: 0 0; }
.b-faq__answer {
  display: none;
  background: #fdfdfd;
    margin: 0em 20px 1.25em;
    padding: .75em 20px;
}

/*-------------------------------------------
 RO: FEATURE CARDS
--------------------------------------------*/
.b-section_feature-cards_default {
}
.b-feature-cards__title {
  margin-top: -1.75em;
}
.b-feature-cards {
  overflow: hidden;
  width: 90%;
  margin: 2.5em auto 0;
}
.b-feature-card {
    margin: 0 0 1.5em;
    list-style-type: none;
}
.b-feature-card__inner {
  padding: 0 5% .5em;
  overflow: hidden;
  border: 0px solid #000000;
  position: relative;
  text-align: center;
}
.b-feature-card__inner_has-btn {

}
.b-resp-image_feature-card {
    width: 112%;
    margin: 0em 0 1em -6%;
    position: relative;
    
    
  
  img {
    width: 100%
  }
}
.b-feature-card__image-link {
  position: relative;
  display: block;
  
  &:hover {
      .b-feature-card__image_hover{
        color: rgba(255,255,255, 1);
        background-color: rgba(000,000,000, .5);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }
}
.b-feature-card__image_hover{
  
  background-color: rgba(000,000,000, 0);
  font-family: $headline-font;
  font-size: 1.25em;
  text-transform: uppercase;
  
  @include transition(background-color .2s ease, color .2s ease);
  display: block;
  margin: 0;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6%;
  right: -6%;
  color: rgba(255,255,255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-feature-card__headline {
  position: relative;
  margin-top: 1em;
  margin-bottom: .25em;
  font-size: 1.25em;
}
.b-feature-card__text {

}
.b-feature-card__button {

  }

/***** OVERLAY VERSION *****/
.b-feature-cards_overlay {
  width: 100%;
}
.b-feature-card_overlay {
  margin: 0em auto;
  padding: 0;
  flex-grow: 1;
}
.b-section__wrap-outer_feature-cards_overlay {
  width: 100% !important;
  max-width: none !important;
}
.b-section__wrap-inner_feature-cards_overlay {
  //padding: 0 !important;
}
.b-feature-card__inner_overlay {
  @include border-radius(0, 0, 0, 0);
  padding: 10em 5%;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  
  justify-content: center;
} 
.b-feature-card__cover-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    a {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 12;
    }
}
.b-feature-card__headline_overlay {
    z-index: 1;
    position: relative;
    margin-bottom: 0.25em;
    font-family: $headline-font;
    font-size: 1.75em;
    letter-spacing: .02em;
	font-weight: normal;
	background-color: #000000;
	padding: 0 10px;
}
.b-feature-card__text_overlay {
    z-index: 2;
    position: relative;
    
    p:first-child {
      margin-top: .25em;
    }
    img {
      margin: 12px;
      display: inline-block;
      vertical-align: middle;
    }
}
.b-feature-card__button_overlay {
  position: relative;
    width: auto;
    left: auto;
    right: auto;
    bottom: auto;
}
/*-------------------------------------------
 RO: FEATURED EVENTS
--------------------------------------------*/
.b-section-featured-events {}
.b-section__wrap-outer_featured-events {}
.b-section__wrap-inner_featured-events {}
.b-sortbar_events {
  margin-bottom: 0;
}
.b-featured-events__title {}
.b-featured-events {}
.b-featured-events__wrap {}
.b-feature-event {
  text-align: left;
  padding: 3.15% 0;
  border-bottom: 1px solid $gray;
  margin: 5px;
  list-style-type: none;
  
  & * {
    max-width: 100%;
  }
}
.b-feature-event__inner {
  @include flex(column);
  @include flex-justify(flex-start);
  align-items: flex-start;
}
.b-feature-event__dates {
  @include flex(row);
  @include flex-justify(flex-start);
  
}
.b-feature-event__date {
  display: inline-block;
  position: relative;
  border: 1px solid $gray;
  border-radius: 4px;
  padding: 0.03em .5em;
  font-family: $headline-font, 'roboto condensed', $sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  
  &:before {
    content: "";
    display: block;
    border-top: 1px solid $gray;
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    margin-left: -.5em;
    z-index: -1;
  }
}
.b-feature-event__date_start {}
.b-feature-event__date-splitter {
  padding: 0 5px;
}
.b-feature-event__date_end {}
.b-feature-event__times {
  color: $dark-gray;
  font-size: .94em;
  display: inline-block;
}
.b-feature-event__time {}
.b-feature-event__time_start {}
.b-feature-event__time_end {}
.b-featured-event__location-splitter {
  color: $dark-gray;
}
.b-featured-event__location {
  color: $dark-gray;
  font-size: .94em;
  display: inline-block;
}
.b-feature-event__content {
  flex-grow: 1;
}
.b-feature-event__headline {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  margin-left: 0;
  font-size: 1.25em;
}
.b-feature-event__text {
  p {
    font-size: .875em;
    margin-top: .5em;
  }
}
.b-feature-event__link {
  font-size: .875em;
}
// SEE MORE FEATURED EVENTS BUTTON
.b-featured-event__bloglink {
  font-size: .875em;  
    a {
      color: $black;
      text-decoration: none;
      font-weight: bold;
      
      &:hover {
        color: $black;
      }
    }
} 
// SEE ALL BUTTON
.b-feature-event_see-all {
  border: 1px solid $dark-gray;
  background: $dark-gray;
  color: $white;
  padding: 1em 1.5em;
  margin-top: -5px;
}
.b-feature-event__dates_see-all {
    display: none;
}
.b-feature-event__date_see-all {

}
.b-feature-event__link_see-all {
  color: $white;
  
  &:hover, &:visited, &:active {
    color: $white;
  }
}
/*-------------------------------------------
FEATURE WITH ICON
--------------------------------------------*/
.b-section-features-list.inverse_text {
  .b-feature__link-wrap, a.b-feature__link-wrap {
    &:hover {
     
      color: $link-color;
    }
  }
}
.b-feature {
    
}
.b-feature__link-wrap, a.b-feature__link-wrap {
    display: block;
    color: $text-color;
    text-decoration: none;
    
    
    &:hover {
      .b-feature__inner {
        background: $white;
        color: $link-color;
        @include transition(background-color .2s ease, color .2s ease);
      }
    }
}
.b-feature__inner {
    padding: 1.75em 2.5em 1.75em 2.5em;
    text-align: center;
    margin: 0.5em 10%;
    
}
.b-feature__headline {
    margin: .25em 0;
    line-height: 1;
}
.b-feature__text {
    font-size: .875em;
    
    p:last-child {
      margin-bottom: 0;
    }
}
.b-feature__image-wrap {
    max-width: 100%;
    margin: auto auto 1em;
}
.b-feature__image {
  
}



/*-------------------------------------------
 FEATURED NEWS & PRESS
--------------------------------------------*/
.b-section-featured-news-items {}
.b-section__wrap-outer_featured-news-items{}
.b-section__wrap-inner_featured-news-items {}
.b-featured-news__title {}
.b-featured-news-items {
  margin-top: 1.5em;
}
.b-featured-news {
  margin-top: 1.5em;
    margin-bottom: 1.5em;
    vertical-align: top;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.b-featured-news__inner {
  padding: 0;
  overflow: hidden;
  //border: 1px solid $light-gray;
  @include border-radius(3px, 3px, 3px, 3px);
  position: relative;
}
.b-featured-news__icon {
  width: 40px;
  height: 40px;
  //margin: auto;
  display: block;
  background-size: contain;
  background-position:  center center;
  background-repeat:  no-repeat;
  float: left;
  margin-right: 10px;
  
  &.press-release {
  background-image: url('../images/icon-press.png');
  }
  
  &.news {
  background-image: url('../images/icon-news.png');
  }

}

.b-resp-image_featured-news {
  img {
    width: 100%
  }
}
.b-featured-news__content {
  overflow: hidden;
}
.b-featured-news__headline {
  margin-top: 0;
      font-size: 1.25em;
  max-width: 100%;
}
.b-featured-news__text {
  font-size: .875em;
  color: $dark-gray;
  max-width: 100%;
}
.b-featured-news__button {
  }
.b-featured-news__bloglink {
  font-size: .875em;  
    a {
      color: $black;
      text-decoration: none;
      font-weight: bold;
    
      &:hover {
        color: $black;
      }
    }
}

/*-------------------------------------------
 RO: GROUPED CONTENT WITH SORTER
--------------------------------------------*/
.b-section_grouped-content {}
.b-section__wrap-outer_grouped {}
.b-section__wrap-inner_grouped {}
// MENU / SORT SELECT
.b-group-sortbar {
  overflow: hidden;
  padding: .5em;
  background-color: $light-gray;
}
.b-select_sortbar {}

// select box style sorting
.b-group-sortbar_dropdown {
display: none;
}
.b-group-sortbar__detail {}

//list style sorting
.b-group-sortbar_menu {
  text-align: center;
  margin-bottom: -1em;
}
.b-label__sortbar_menu {
  text-align: left;
    font-family: "roboto condensed", $sans-serif;
    text-transform: uppercase;
    width: 100%;
    display: block;
    margin-left: 1.5%;
    font-size: .875em;
    color: $dark-gray;
}
.b-group-sortbar__list {
  @include flex(row);
  flex-wrap: wrap;
  @include flex-justify(space-around);
  margin: 0;
}
.b-group-sortbar__list-item {
    padding: 1em 1em;
    margin: 1.5% 1.5%;
    background-color: #ff9600;
    flex-shrink: 1;
    flex-grow: 1;
    font-size: .875em;
    
    a {
      color: $white;
      text-decoration: none;
      font-weight: bold;
    }
}

.b-grouped-content__title {
  background: $black;
  color: #fff;
  font-weight: 700;
  padding: .5em 1em;
  margin-top: 2em;
  margin-bottom: 0;
  font-size: 1.25em;
  text-align: left;
  @include flex(row);
  @include flex-justify(space-between);
  
  a:first-child {
    color: white;
    text-decoration: none;
  }
  
}
a.b-grouped-content__title__back{
  font-size: .7em;
  font-weight: 400;
  color: $light-gray;
}
.b-grouped-content__content {
  overflow: hidden;
  clear: both;
  text-align: left;
  padding: 0 10px;
  
  span:first-child {
    li:last-child {
      margin-bottom: 0;
    }
  }
}


/*-------------------------------------------
 HOVER VIDEO PANELS
--------------------------------------------*/
.b-section_hover-panels {

}
.b-section__wrap-outer_hover-panels {
  width: 100% !important;
  max-width: none !important;
}
.b-section__wrap-inner_hover-panels {
  padding: 0 !important;
}

.b-hover-panels {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.b-hover-panel {
  margin: 0em auto;
  padding: 0;
  text-align: left;
  flex-grow: 1;
}
.b-hover-panel__inner {
  padding: 0 5% .5em;
  overflow: hidden;
  border: 0px solid #000000;
  position: relative;
  padding: 4em 5%;
  @include flex(column);
  align-items: flex-start;
  @include flex-justify(flex-end);
  min-height: 500px;
}

.b-hover-panel__cover-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  a {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 12;
  }
}

.b-hover-panel__headline {
  z-index: 1;
  position: relative;
  margin: 0 0 .6em 0;
  font-family: $headline-font;
  font-size: 1.65em;
  letter-spacing: .02em;
  font-weight: normal;
  background-color: #000000;
  padding: 2px 6px;
  color: $white;
}
.b-hover-panel__text {
  z-index: 2;
  position: relative;
  margin-bottom: 1.5em;
  margin-left: 10px;
  font-size: .94em;
  
  p:first-child {
    margin-top: .25em;
  }
  
  p:last-child {
    margin-bottom: .25em;
  }
  
  img {
    margin: 12px;
    display: inline-block;
    vertical-align: middle;
  }
}
.b-hover-panel__button {
  position: relative;
  width: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin-left: 10px;
  }
.b-hover-panel__button_icon {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    z-index: 1;
    position: relative;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    margin-left: 10px;
  }
.b-hover-panel__video {
  display: none;
  z-index: 10;
}
/*-------------------------------------------
  RO: CTA BAR
--------------------------------------------*/
.b-section_ctabar {}
.b-section__wrap-outer_ctabar {
  width: 100% !important;
  max-width: none !important;
}
.b-section__wrap-inner_ctabar {}
.b-ctabar {
  @include flex(row);
  flex-wrap: wrap;
  align-items: flex-start;
  @include flex-justify(space-around);

  margin: 0;
  
}
.b-ctabox {
    padding: 0 ;
    overflow: hidden;
    flex-grow: 1;
    cursor: pointer;
  
    &:hover, &:link, &:active {
      .b-ctabox__share {
        display: block;
        position: relative;
        opacity: 1;
        @include transition(all .2s ease, opacity .5s ease);
        width: 100%;
        color: #fff;
      }
      .b-ctabox__cover-image {
        transform: scale(1.1);
      }
      .b-ctabox__headline {
        margin: 0em auto .5em;
      }
  }
}
.b-ctabox__link, .b-ctabox__link:hover {
  text-decoration: none;
}
.b-ctabox__inner {
  position: relative;
  min-height: 250px;
  @include flex(column);
}
.b-ctabox__cover-image {
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out;
    
    a {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 12;
    }
}
.b-ctabox__content {
    position: relative;
    padding: 1.5em .5em;
    width: 80%;
    @include flex(column);
}
.b-ctabox__headline {
  margin: 0em auto;
  @include transition(all .4s ease);
}
.b-ctabox__share {
  position: absolute;
  opacity: 0;
  @include transition(all .2s ease, opacity 0s ease);
}
.b-ctabox__share-btns {
  @include flex(row);
}
.b-share-link {
    flex-basis: 15%;
}
.b-ctabox__text {
  width: 85%;
  margin: .25em auto;
  font-size: .875em;
  font-weight: bold;
}

/*-------------------------------------------
  RO: HALF PHOTO REPEATER
--------------------------------------------*/
.b-section_halves {

}
.b-half-photos__title {
  margin-top: 0;
  margin-bottom: -0.5em;
  z-index: 100;
  position: relative;
}
.b-section__wrap-outer_halves {
  width: 100% !important;
  max-width: none !important;
}
.b-section__wrap-inner_halves {
 padding-top: 0em !important;
    padding-bottom: 0em !important;
}
.b-half-tiles {
    margin: 0;
}
.b-half-tile {
  @include flex(column);
  overflow: hidden;
}
.b-half-tile__inner {
  width: 100%;
  padding: 3em 2em;
  background-color: #ebebeb;
  @include flex(column);
}
.b-halfphoto__cover-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.b-half-tile__photo {
  width: 100%;
  padding-bottom: 55%;
  overflow: hidden;
  position: relative;
}
.b-resp-image_half-tile {}

.b-halfphoto__img {
  min-width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}
.b-half-tile__headline {
    color: #000;
    font-family: "league_gothicregular",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.25em;
    font-weight: normal;
    margin: 0 auto 0.25em;
}
.b-half-tile__subhead {
  font-size: .875em;
	color: $dark-gray;
	margin-bottom: 2.5em;
}
.b-half-tile__text {
  max-width: 100%;
}

/*-------------------------------------------
  RO: IFRAME AND SCRIPTS BUCKET
--------------------------------------------*/
.b-section_scripts {}
.b-section__wrap-outer_scripts {
  width: 90%;
}
.b-section__wrap-inner_scripts {
  
}
.b-script-holder {
  position: relative;
  //height: 0;
  overflow: hidden;
  //padding-bottom: 120%;
  border-bottom: 1px solid $gray;
  text-align: left;
  
  iframe {

    width: 100%;

  }
}



/*-------------------------------------------
  RO: PAGE HEADER: HERO
--------------------------------------------*/
.b-section_hero {
  padding: 0;
  @include flex(column);
  @include flex-justify(center);
  text-align: center;
  overflow: hidden;
  min-height: 400px;
    height: 1px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.b-section__wrap-outer_hero {
  @include flex(row);
  @include flex-justify(flex-start);
  position: relative;
  width: 86%;
  z-index: 1;
   
}
.b-section__wrap-inner_hero {
  max-width: 100%;
  width: 100%;
  

}
.b-hero__headline {
  font-size: 2em;

  max-width: 100%;
  margin: .25em auto .5em auto;
  text-align: center;
}

/*
 SCROLL MORE INDICATOR
*/
// Settings
$arrow-color: $white;
$arrow-size: 1em;
$arrow-border: 2px;
$arrow-length: 36px;
    
.b-scroll-more {
  margin: 40px 0 -15px;
  padding: 0.3em 2em;
  overflow: visible;
  z-index: 1000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  color: #acacac;
  font-weight: bold;
  border: 2px solid $white;
  white-space: nowrap;
  
  &:before {
    content: "";
    border-left: 2px solid;
    display: block;
    height: $arrow-length;
    width: 1px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -#{$arrow-length};
    left: 50%;
  }
  
  &:after {}
  span {
    
    //
    display: block;
    height: $arrow-length;
    position: absolute;
    width: 0;
    bottom: -#{$arrow-length};
    left: 50%;
    transform: translate(-50%, 0);
    
    &:after {
      display: block;
      content: "";
      top: 50%;
      left: 50%;
      width: 1em;
      height: 1em;
      transform-origin: 50% 50%;
      transform:  translate(-41%, -($arrow-size)) rotate(135deg);
      box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $arrow-color;
      border-radius: 0 $arrow-size*0.15 0 0;
    }
    
    &:before {
      display: block;
      content: "";
      top: 20%;
      right: 1em;
      height: $arrow-length;
      width: $arrow-border;
      transform:  translate(0, 0);
      background-color: $arrow-color;
    }
  }
}

/* SUBPAGE LAYOUT */
.b-section_hero_subpage {
  min-height: 0;
  height: 135px;
  @include flex-justify(flex-end);
}
.b-section__wrap-outer_subpage {  
  width: 85%;
  z-index: 10;
}
.b-section__wrap-inner_subpage {
  padding: 0;
}
.b-hero_headline-holder {
  background: $white;
  min-height: 2.25em;
  padding-left: 5%;
}
.b-hero__headline_subpage {
  margin: -.65em auto 0;
}


.b-hero-slide__buttons {
  clear: both;
  text-align: left;
  font-size: 0.75em;
  margin: 1em 0 0 0;
}
a.b-hero-slide__button {
  padding: 0.85em 3.5%;
  margin-top: 0.4em;
  margin-right: 0.5em;
  margin-bottom: .5em;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  
  &:hover, &:focus {
    color: #fff;
    //text-decoration: underline;
  }
}

.b-video-background {
  height: 100%;
  width: 100%;
    position: absolute;
    //z-index: 2;
    //display: none;
    font-family: 'object-fit: cover; object-position: center top;';
}
video {
  object-fit: cover;
  font-family: 'object-fit: cover; object-position: center top;';
}
object-fit {
  left: 0 !important;
  top: 12px !important;
}
object-fit {
  object-fit {
    left: 0 !important;
    top: -10% !important;
    height: 110% !important;
    display: none !important;
  }
}
/*-------------------------------------------
  RO: INTRODUCTION TEXT
--------------------------------------------*/
.b-section_intro {
  text-align: center;
}
.b-section__wrap-outer_intro {
  width: 86%;
}
.b-section__wrap-inner_intro {}

.b-intro__headline {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
.b-intro__text {
  
  p {
    font-size: 0.94em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    &:first-child {
      max-width: 100%;
      font-size: 1.19em;
      font-weight: bold;
    }
  }
}

.b-section_intro_subpage {
  .b-section__wrap-inner_intro {
    padding-top: 0;
  }
}
/*-------------------------------------------
  RO: BODY TEXT
--------------------------------------------*/
.b-section_intro {

}
.b-section__wrap-outer_bodytext {
  
}
.b-bodytext__headline {
    border-bottom: 1px solid $gray;
    padding-bottom: 1.8em;
    margin-bottom: 2em;
    margin-top: .5em;
    font-size: 1.25em;
    line-height: 1.5;
}
.b-bodytext__text {
  margin-bottom: 1em;
  p {
    margin-left: auto;
    margin-right: auto;
  }
}
.b-text-columns-span {
  
  p:last-child {
    margin-bottom: 0;
  }
  
  &:last-child {
    p:last-child {
      margin-bottom: 1em;
    }
  }
}
/*-------------------------------------------
  RO: OVERVIEW (SHARES WITH BODY TEXT)
--------------------------------------------*/
.b-section__wrap-outer_overview {
    max-width: 500px;
}
.b-section-label {

}
.b-section-label__number {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.75em;
    color: $gray;
    font-family: $headline-font;
}
.b-section-label__text {
  display: inline-block;
  margin: .25em 0;
}
/*-------------------------------------------
  RO: STATISTICS / STATS
--------------------------------------------*/
.b-stats {
  @include flex(row);
  @include flex-justify(space-evenly);
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0 1em;
  text-align: center;
}
.b-stat {
  flex-grow: 1;
  flex-shrink: 1;
  //flex-basis: 33%;
  padding: 0 1.5% 1.5em;
}
.b-stat__value {
  font-size: 3em;
  font-weight: 100;
  line-height: 1.2;
  
  span {
    font-size: 0.6em;
    vertical-align: super;
    color: $dark-gray;
    text-transform: uppercase;
    position: absolute;
  }
}
.b-stat__label {
  font-size: .7em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto Condensed';
}
/*-------------------------------------------
  RO: PHOTO BREAK
--------------------------------------------*/
.b-photo-break {
  min-height: 175px;
}
.b-photo-break_tall {
  min-height: 220px;
}
/*-------------------------------------------
  RO: PHOTO MENU
--------------------------------------------*/
.b-section_photo-menu {
  
}
.b-section__wrap-outer_photo-menu {
      
}
.b-section__wrap-inner_photo-menu {
  
}
.b-photo-menu__headline {
  
}
.b-photo-menu__text {
  font-family: $headline_font;
  text-transform: uppercase;
  font-size: 1.125em;
  margin-top: 2em;
}
.b-photo-menu {
  
}
.b-photo-menu__item {
    font-weight: bold;
    display: inline-block;
    
    &:after {
      display: inline-block;
      content: ",";
      margin-left: -2px;
      margin-right: 1px;
    }
    &:last-child:after {
      display: none;
    }
}
.b-photo-menu__button, .b-photo-menu__button:hover, .b-photo-menu__button:visited{
  color: $black;
}
/*-------------------------------------------
  RO: MAP MENU
--------------------------------------------*/
.b-section_map-menu {
  
}
.b-section__wrap-outer_map-menu {
      
}
.b-section__wrap-inner_map-menu {
  
}
.b-map-and-menu {
  @include flex(row);
  flex-wrap: wrap;
}
.b-map-and-menu__menu {
  margin-bottom: 1em;
  flex-grow: 1;
  flex-shrink: 1;
}
.b-map-and-menu__map {
  flex-grow: 1;
  flex-shrink: 1;
}
.b-map-menu__headline {
  
}
.b-map-menu__text {
  font-family: $headline_font;
  text-transform: uppercase;
  font-size: 1.125em;
  margin-top: 2em;
  margin-bottom: 0em;
}
.b-map-menu {
  
}

.b-map-menu__item {
    font-weight: bold;
    display: inline-block;
    
    &:after {
      display: inline-block;
      content: ",";
      margin-left: -2px;
      margin-right: 1px;
    }
    &:last-child:after {
      display: none;
    }
}
.b-map-menu__button, .b-map-menu__button:hover, .b-map-menu__button:visited{
  //color: $black;
}
.b-map-menu__map {
  margin-top: 1em;
  flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}
/*-------------------------------------------
  RO: RELATED PAGES
--------------------------------------------*/
.b-section_relpages {}
.b-section__title_relpages {
  
}
.b-section__wrap-outer_relpages {}
.b-section__wrap-inner_relpages {}
.b-relpages {
  margin: 0 auto;
}
.b-relpage {
    text-align: left;
    margin-bottom: 2em;
    &:hover {
      .b-image_relpage {
        transform: scale(1.1);
      }
    }
}
.b-relpage__inner {}
.b-resp-image_relpage {
  height: 0;
  padding-bottom: 55%;
  
}
.b-image_relpage {
  min-width: 100%;
  transition: all .2s ease-in-out;
}
.b-relpage__headline {
  margin-top: -0.8em;
  z-index: 100;
  position: relative;
  margin-left: 6%;
}
.b-relpage__text {
  width: 85%;
  margin: 0 auto 0.5em;
  font-size: .875em;
}

/*-------------------------------------------
  RO: TEXT OVER PHOTO
--------------------------------------------*/
.b-section-textphoto {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.b-section__wrap-outer_textphoto {}
.b-section__wrap-inner_textphoto {}
.b-section-textphoto__title {
  margin-bottom: .5em;
  font-size: 2.5em;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}
.b-section-textphoto__text {
  font-weight: bold;
}
.b-section-textphoto__button {
  margin-top: .75em;
  margin-bottom: .5em;
}
.b-section_collapsed-top {
  .b-section__wrap-inner_textphoto {
    padding-top: 2em !important;
  }
}


/*-------------------------------------------
  RO: TEXT WITH SIDE IMAGE
--------------------------------------------*/
.b-section_text-side-image {}
.b-section__wrap-outer_text-side-image{}
.b-section__wrap-inner_text-side-image{}

.b-text-side-image__content {
  @include flex(row);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.b-side-text {
  order: 2;
}
.b-side-text_left {}
.b-side-text_right {}
//image content
.b-image-side_left {
  order: 1;
}
.b-image-side_right {
  order: 1;
}
.b-side-photos {
  margin-bottom: 1.25em;
}
.b-side-photo {
  text-align: center;
  min-width: 100%;
  display: none;
      height: 0;
    padding-bottom: 78%;
  
  &:first-child {
    display: block;
  }
}
.b-side-photo__image{
  min-width: 100%;
}

//text content
.b-side-text {
  text-align: left;
}
.b-side-text__headline{}
.b-side-text__subheadline{
  color: $text-color;
  font-size: 1.125em;
  margin-top: .25em;
}
.b-side-text__text{
  p {
    margin: 1.5em 0;
    
    &:first-child {
      margin-top: 1em;
    }
  }
  a, img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2%;
  }
}
.b-side-text_button {
  margin-top: 1.5em;
}

/*-------------------------------------------------------
  RO: TEXT WITH THIRD PARTY SCRIPT (SOCIAL MEDIA FEED)
-------------------------------------------------------*/
.b-section_text-script {}
.b-section__wrap-outer_text-script{
  width: 85%;
}
.b-section__wrap-inner_text-script{}

.b-text-script__content {
  @include flex(column);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


//text content
.b-text-script__copy {
  max-width: 86%;
  margin-bottom: 1.5em;
}
.b-text-script__copy_left {}
.b-text-script__copy_right {}

.b-text-script__headline{}
.b-text-script__subheadline{}
.b-text-script__text{
  p {
    margin: 1.5em 0;
  }
  a, img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2%;
  }
}
.b-text-script__button {}

//third party script content
.b-text-script__script {
  order: 2;
}
.b-text-script__script_left {}
.b-text-script__script_right {}
.b-third-party-script {
  min-width: 100%;
}

/*-------------------------------------------
  RO: TEXT EDITOR BLOCK
--------------------------------------------*/
.b-section_textedit {
  text-align: left;
}
.b-section__wrap-outer_textedit {
}
.b-textedit__headline{
  margin-left: 0;
}

/*-------------------------------------------
  RO: HALF PANELS
--------------------------------------------*/
.b-half-panel {
  padding: 1em 2em;
  background-color: $light-gray;
  margin-bottom: 1.75em;
  flex-basis: auto;
  //max-width: 46%;
  @include flex(column);
  
  &>* {
    max-width: 100%;
  }
}
.b-half-panel_right {
  margin-bottom: 0;
}
.b-half-panel__headline {
    margin: 1.25em 0 .5em;
}
.b-half-panel__text {
    margin-top: .25em;
}
.b-half-panel__button {
  margin: 1.5em auto 1.5em;
}
/*-------------------------------------------
  RO: DONATION PAGE: DONATION FORM PANEL
--------------------------------------------*/
.b-section__wrap-outer_donate-panels {}
.b-section__wrap-inner_donate-panels {}
.b-half-panel_donate-list {
  text-align: left;
  align-items: flex-start;
}
.b-half-panel_donate-form {
  background-color: $white;
}
.b-dollars-chart {
  width: 100%;
}
.b-dollars_chart__item {
  @include flex(row);
  position: relative;
  margin-bottom: 0.5em;
}
.b-dollars_chart__item_amount {
    flex-basis: 30%;
    font-family: $headline-font;
    font-size: 2.5em;
    margin: -0.5em 0 0;
    flex-grow: 1;
    flex-shrink: 0;
}
.b-dollars_chart__item_value {
    display: inline-block;
    padding-bottom: 0.5em;
    padding-top: .5em;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 70%;
    margin-bottom: 1.5em;
    color: $dark-gray;
    font-size: .875em;
    
    &:after {
      border-bottom: 1px solid $gray;
      content: "";
      display: block;
      position: absolute; 
      bottom: 0;
      width: 40%;
      margin-bottom: 0.7em;
    }
  }
.b-donation-form {
  max-width: 100%;
  width: 100%;
}
/*-------------------------------------------
  RO: WHAT WE DO PAGE: MONEY PEOPLE PANEL
--------------------------------------------*/ 
.b-section_money-people {}
.b-section__wrap-outer_money-people{}
.b-section__wrap-inner_money-people{}
.b-money-panel {}
.b-money-panel__sentence {
  font-family: $headline-font;
  font-size: 1.56em;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: .5em;
  @include flex(column);

  span {
    display: inline-block;
    color: $white;
    background-color: $black;
    font-size: 2.61em;
    line-height: 1.2;
    padding-left: 2%;
    padding-right: 2%;
    margin: .15em 0;
    
    &:before { /*content: "\A"; white-space: pre;*/}
    &:after {/*content: "\A"; white-space: pre; */}
  }
  
  &:first-child:after {
    content: " ";
    display: block;
    color: $primary-color;
    border-bottom: 1px solid;
    height: 1px;
    width: 75px;
    margin-top: 1.3em;
  }
}
.b-people-panel {
  padding: 2em 1em;
}
.b-people-stats {
  margin: 1em 0;
  justify-content: space-between;
  position: relative;
  
  &>span {
    flex-basis: 50%;
    max-width: 45%;
  }
  &>span:first-child {
    
  }
  
  &:after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      border-right: 1px solid $gray;
      top: 0;
      left: 50%;
    }
}
.b-people-stat {
  font-size: .875em;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px solid $gray;
  display: block;
  padding: 0.75em 1% 1.25em;
  margin: 0px 15px 0px;
  
  &:last-child {
    border-bottom: none;
  }
}
.b-people-stat__value{
  font-size: 2.575em;
}
.b-people-stat__label {
  font-weight: bold;
  display: block;
  font-family: "Roboto Condensed", $sans-serif;
}

/*-------------------------------------------
  RO: WHAT WE DO PAGE: COMMUNITY GOALS
--------------------------------------------*/
.b-section-icon-callouts {}
.b-section__wrap-outer_icon-callouts {}
.b-section__wrap-inner_icon-callouts {}
.b-section-icon-callouts__title {}
.b-section-icon-callouts__text {
  font-weight: bold;
}
.b-icon-callouts {}
.b-icon-callout {
  margin: 1em auto 1.25em;
  max-width: 80%;
  font-size: 0.94em;
  
  &:hover {
    .b-icon-callout__icon {
       //transform: scale(1.3);
    }
    .b-icon-callout__inner {
      background: rgba(000,000,000, .5);
    }
  }
}
.b-icon-callout__inner {
  padding: 1.5em 1em;
  border-radius: 3px;
  @include transition(all .2s ease);
  z-index: 10;
    position: relative;
}
.b-icon-callout__icon {
  margin-top: .2em;
  min-height: 40px;
  
}
.b-icon-callout__image {}
.b-icon-callout__text {
  line-height: 1.36;
  max-width: 100%;
}
.b-icon-callout__button {
    font-weight: bold;
    line-height: 1.36;
    text-decoration: underline;
}

/*-------------------------------------------
 ICON LIST (OR CAROUSEL)
--------------------------------------------*/
.b-section_icon-list {}
.b-section__wrap-outer_icon-list {}
.b-section__wrap-inner_icon-list {}
.b-section__title_icon-list {}
.b-section__intro_icon-list {}
.b-icon-list {}
.b-icon-list.b-columns {
  justify-content: center;
}
.b-icon {
 margin-bottom: 3.33%;
}
.b-icon__inner {}
.b-icon__link {}
.b-icon__img {
  max-width: 100%;
  vertical-align: bottom;
  margin-left: auto;
  margin-right: auto;
}
.b-icon__text {}
.b-icon__button {}

/*** CAROUSEL VERSION ***/
.b-section_icon-list .bx-viewport {
  max-width: 90%;
  margin-left: auto;
    margin-right: auto;
}
.b-section_icon-list .bx-wrapper {}
.b-icon-list.js_icon_carousel {
  margin-top: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.b-icon-carousel-slide {
  max-width: 100%;
  justify-content: center;
}



/*-------------------------------------------
 INSET CONTENT PANEL
--------------------------------------------
.b-section_content-panel {
  
  .b-section__wrap-inner {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.b-content-panel {
  overflow: hidden;
  width: 100%;
  padding: 0 10% 1em;
}
.b-content-panel__headline {
}
.b-content-panel__text {
}
.b-content-panel__button {
}
.b-hero__caption_inset-panel {
  bottom: 1em;
  display: none;
}*/

/*********************
MAP STYLES
*********************
.b-section__map {
  //padding: 0;
}

.acf-map {
  width: 100%;
  height: 400px;
  border: $border-color solid 1px;
  
  img {
  max-width: initial;
  }
}
/*---MARKERS---*
.b-marker__title {
  margin: 0.25em 0;
  line-height: 1;
}
.b-marker__link {
  margin: 0 .25em .25em;
  font-style: italic;
}
.b-marker__info {
  margin: .25em 0;
  li {
    margin: .15em;
    list-style-type: none;
  }
}
.b-marker__address, li.b-marker__address {
  font-style: italic;
}
.b-marker__address, li.b-marker__phone {
  font-style: italic;
}
.b-marker__address, li.b-marker__hours {
  font-style: italic;
}
.b-marker__message, li.b-marker__message {
  margin-top: 0.75em;
}
/*---MAP SERACH---*
.b-map-search {
  padding: .5em 1em;
  background-color: $border-color;
  
  a, input, label {
    margin: .5em .5em 0 0;
  }
}
.b-map-search label {
  display: inline-block;
  float: left;
  margin-right: 1em;
  vertical-align: middle;
  margin-bottom: .875em;
}
input.b-input__zipcode-search {
  display: inline-block;
  float: left;
  margin-right: 1em;
  height: 28px;
  line-height: 28px;
  font-size: .875em;
  max-width: 150px;
  margin-bottom: .875em;
}
.b-map-error-message {
  display: none;
  padding: 1em 1em;
  margin: 0;
  text-align: center;
  color: $white;
  background-color: $alert-red;
}
/*---Location Listings---*
.wrap_listings {
  padding: 2em 0;
}
.b-neighborhood__group {
  text-align: left;
  margin: 2em 0 3em;
  
  h2 {
  }
}
.b-locations__neighborhood {
    margin-bottom: 0.5em;
}

.b-location-listing {
  text-align: left;
  margin: 0 0 1.5em;
}
.b-location__details {
  margin: 0;
}
.b-location__name {
    font-weight: 700;
    margin-top: .5em;
    margin-bottom: .2em;
    line-height: 1.2em;
}
.b-location__detail {
  margin: 0;
  list-style-type: none;
}
.b-location__partner {
  display: none;
  font-style: italic;
  color: $meta-gray;
  margin-top: -0.25em;
  margin-bottom: .25em;
}
*/
/*-------------------------------------------
 RO: FEATURED PROGRAMS
--------------------------------------------*/
.b-section-featured-programs {}
.b-section__wrap-outer_featured-programs {
}
.b-section__wrap-inner_featured-programs {
}

.b-featured-programs {
  justify-content: center;
}

/*-------------------------------------------
 RO: PILLAR PAGE
--------------------------------------------*/
//FEATURED PROGRAMS
.b-section__wrap-inner_featured-programs_pillar {
  padding-top: 0 !important;
}
.b-featured-programs_pillar {}
.b-featured-programs__wrap_pillar {
  margin: 0 auto;
}
//FEATURED EVENTS
.b-section__wrap-inner_featured-events_pillar {
  padding-top: 1.5em !important;
}

/*-------------------------------------------
 RO: COACHES PAGE 
--------------------------------------------*/
.b-section-coaches {}
.b-section__wrap-outer_coaches {}
.b-section__wrap-inner_coaches {}
.b-coaches {
  @include flex-justify(flex-start);
}
.b-coach {
  text-align: center;
  padding: 0 1%;
  margin-bottom: 12px;
  
  &:hover {
    
  }
}
.b-coach__photo {}
.b-coach__image {}

.b-coach__details {
  margin: 0 auto;
}
.b-coach__name {
      font-size: 1.5em;
  font-family: $serif;
  color: $secondary-color;
  margin-top: 0.5em;
    margin-bottom: .25em;
}
.b-coach__title {
  font-size: 1em;
  font-family: $serif;
  font-style: italic;
  color: $primary-color;
  margin-top: .25em;
}

/*
 SCROLL MORE INDICATOR
*/
// Settings
$arrow-color: $secondary-color;
$arrow-size: 16px;
$arrow-border: 2px;
$arrow-length: 24px;
    
.b-coach__link {
    
    width: $arrow-length;
    height: $arrow-size;
    margin-left: auto;
    margin-right: auto;
    display: block;
    //border: 1px solid;
    position: relative;
  span {
    display: block;
    width: $arrow-length;
    position: absolute;
    height: 100%;
    
    &:after {
      @include transition(all .3s ease);
      display: block;
      content: "";
      //top: 50%;
      //left: 50%;
      width: $arrow-size*.66;
      height: $arrow-size*.66;
      transform-origin: 50% 50%;
      transform:  translate( ($arrow-length - ($arrow-size*.66)), -($arrow-border*.25)) rotate(45deg);
      box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $arrow-color;
      border-radius: 0 $arrow-size*0.15 0 0;
    }
    
    &:before {
      @include transition(all .3s ease);
      display: block;
      content: "";
      //top: ($arrow-size)/2;
      right: 1em;
      width: $arrow-length;
      height: $arrow-border;
      transform:  translate(0, (($arrow-size)/2)-($arrow-border));
      background-color: $arrow-color;
    }
  }
  &:hover {
      
      span {
        &:after {
          width: $arrow-size*.66;
          height: $arrow-size*.66;
          transform-origin: 50% 50%;
          transform:  translate( ($arrow-length*1.5 - ($arrow-size*.66)), -($arrow-border*.25)) rotate(45deg);
          
        }
        
        &:before {
          right: 1em;
          width: $arrow-length*1.5;
          height: $arrow-border;
          transform:  translate(0, (($arrow-size)/2)-($arrow-border));
       
        }
      }
    }
}
.b-section-coaches__related {
    text-align: left;
    margin-top: 6em;
}


/*-------------------------------------------
 RO: SINGLE EMPLOYEE/COACH PAGE 
--------------------------------------------*/
.b-empoyee-header {
  background-color: #cde3e9;
  text-align: left;
}
.b-section__wrap-outer_empoyee-header {
  width: 90%;
}
.b-section__wrap-inner_empoyee-header {}
.b-empoyee-header__backlink {
  position: relative;
  padding-left: 14px;
  font-size: .875em;
  margin-bottom: 2em;
  display: block;
  
  &:before {
        display: block;
        content: "";
        left: 0px;
        bottom: 0px;
        width: 10px;
        height: 10px;
        transform: translate(0%, -5.5px) rotate(225deg);
        box-shadow: inset -1.5px 1.5px 0 0 #2f4e66;
        border-radius: 0;
        position: absolute;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
}
.empoyee-header__profile {
  align-items: center;
}
.b-employee__photo {
  flex-basis: 47%;
}
.b-employee__image {}
.b-employee-details {
  flex-basis: 45%;
  font-size: .75em;
}
.b-employee-details__name {
  font-family: $serif;
  color: $secondary-color;
  margin-top: -0.35em;
  font-size: 2.5em;
  margin-bottom: 0.25em;
}
.b-employee-details__title {
  font-family: $serif;
  color: $secondary-color;
  font-style: italic;
      font-size: 1.725em;
    margin-top: .25em;
    margin-bottom: .5em;
}
.b-employee-details__phone {
  margin-top: .5em;
  margin-bottom: .5em;
    
  a {
    font-weight: normal;
  }
}
.b-employee-details__email {
  margin-top: .5em;
  margin-bottom: .5em;
  
  a {
    font-weight: normal;
  }
}
.b-employee-social-sites {
  margin-top: .5em;
  margin-bottom: .5em;
}
.b-employee-social-site {
      margin-top: .25em;
    margin-bottom: .25em;
}
.b-employee-social-site__link {}
.b-empoyee-body {
  text-align: left;
    line-height: 1.7;
    
    p {
      margin-bottom: 2.5em;
    }
}
.b-section__wrap-outer_empoyee-body {
  width: 75%;
}
.b-section__wrap-inner_empoyee-body {}
.b-wysiwyg_employee-bio {
  br {
    display: none;
  }
}


/*-------------------------------------------
 RO: BIZ OPS PAGE 
--------------------------------------------*/
.b-section-boards {}
.b-section__wrap-outer_boards {}
.b-section__wrap-inner_boards {}
.b-section__title_boards {}
.b-boards {}
.b-board {
  margin: 4em auto;
}
.b-board__name {
  font-family: $headline-font;
  font-weight: normal;
  letter-spacing: .015em;
  text-align: left;
  width: 100%;
  font-size: 2em;
  padding-bottom: .75em;
  margin-bottom: 0.4em;
  border-bottom: 1px solid $light-gray;
}
.b-board__members {
  @include flex-justify(flex-start);
}
.b-board-member {
  text-align: left;
  padding: 0px;
  margin-bottom: 1em;
}
.b-board-member__name {
  font-size: 1em;
  margin: 0.75em auto .75em;
}
.b-board-member__position {
  text-transform: uppercase;
  font-size: .815em;
  color: $darker-gray;
  margin-bottom: .5em;
  font-weight: 600;
}
.b-board-member__bylines {
  margin-top: 0;
  font-weight: 600;
}
.b-board-member__byline {
  font-size: .875em;
  color: $darker-gray;
  margin: 0 0 0.6em;
  
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  
  a {
    font-weight: 600;
    text-decoration: underline;
  }
}

/*-------------------------------------------
  MASONRY BLOCKS
--------------------------------------------
.b-masonry-block {
  margin: .25em 0;
  padding: 0 .5em 0 0;
  color: $white;
}
.b-masonry-block__inner {
  position: relative;
}
.b-masonry-block__text {
  padding: 1em 1.5em;
  a {
    color: $white;
  }
}
.b-masonry-block h6, .b-masonry-block p {
  text-align: left;
  margin: .25em 0;
}
.b-masonry-block_words {
  display: block;
}
.b-masonry-block_graphic {
  display: block;
}
.b-masonry-block__image {
  width: 100%;
  vertical-align: bottom;
}
.b-masonry-block__caption {
  
  background: $black;
  
  padding: 1em 3% 1em;
  bottom: 0;
  width: 100%;
  
  a {
    color: $white;
  }
}
.b-masonry-block__info.dashicons {
    display: none;
}
*/
/*-------------------------------------------
 MULTI COLUMN TEXT
-------------------------------------------- */
.b-section_multi-column {
  text-align: left;
  
  .embed-container {
    margin-top: 1em;
  }
}
//buttons
.b-multi-column__buttons {
  clear: both;
}
.b-multi-column__buttons_left {
  text-align: left;
}
.b-multi-column__buttons_center {
  text-align: center;
}
.b-multi-column__buttons_right {
  text-align: right;
}

/*-------------------------------------------
  MULTI-LEVEL SHOWCASE
--------------------------------------------
.b-section__showcase {

}
.b-headline_showcase {
    text-align: center;
    position: relative;
    border-bottom: 1px solid $meta-gray;
    width:90%;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    text-transform: uppercase;
}
.b-showcase__gallery {
}
.b-showcase-item {
  margin: .5em auto;
}

.b-showcase-item__inner {
  text-align: center;
  padding: 1em;
  display: block;
  width: 100%;
}
.b-showcase__image {
    
    display: block;
    height: 105px;
    max-width: 210px;
    margin: auto;
    position: relative;
    
  span {
    max-width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: block;
  }
}
.js-showcase-modal {
  cursor: pointer;
  }
.b-showcase__image_a {
    cursor: initial;
    span {
      max-width: 90%;
      margin: auto;
    }
}
.b-showcase__image_b {
  
}
.b-showcase__image_c {
    height: 100px;
    max-width: 150px;
}
.b-showcase__image_d {
    height: 90px;
    max-width: 130px;
}
.b-showcase__image_e {
    height: 90px;
    max-width: 130px;
}
.b-showcase-item__detail {
    display: none;
    text-align: center;
    z-index: 3;
    background: #fff;
    border: 1px solid $gray;
    padding: 1em 1.75em;
}
.b-showcase-item__detail_a {
    display: block;
    text-align: center;
    position: relative;
    background: transparent;
    border: none;
    padding: initial;
    
    .b-showcase-item__detail-photo {
      display: none;
    }
    .b-showcase-item__title {
       padding: 0;
    }
    .b-showcase-item__detail-text {
      border: 0;
      text-align: center;
    }
}
.b-showcase-item__detail-photo {
    max-width: 250px;
    padding: 1.5em;
}
.b-showcase-item__detail-text {
    border-top: 1px solid $gray;
    padding-top: 1.5em;
    margin-top: 0;
}
.b-showcase-item__title {
    margin-bottom: 0;
    color: $main-color;
    margin-top: 0;
    text-transform: uppercase;
    font-family: $sans-serif;
    font-size: 1.75em;
    line-height: 1;
}
.b-showcase-item__meta {
    font-style: italic;
    color: $meta-gray;
    margin: .25em 0 0.75em;
}
.b-showcase-item__description {
  &>p {
    margin-top: .25em;
  }
}
*/

/*-------------------------------------------
  QUOTE CAROUSEL
--------------------------------------------*/
.b-section_quotes {
  background-color: #cde3e9;
  color: $secondary-color;
  font-family: $serif;
  width: 85%;
      margin-left: auto;
    margin-right: auto;
}
.b-section__wrap-outer_quotes {
  width: 80%;
}
.b-quotes-carousel {
  margin: 1em auto;
}
.b-quote {
  overflow: hidden;
  position: relative;
}
.b-quote__image {
  img {
    margin-left: auto;
    margin-right: auto;
  }
}
.b-quote__words {
  padding: 2em 0;
  font-size: 1.125em;
}
.b-quote__words:before, .b-quote__words:after {
    font-size: 5em;
    font-weight: 400;
    line-height: 0.85;
    margin-right: 0px;
    vertical-align: 0px;
    height: 0.5em;
    position: absolute;
    top: 0;
    height: 0.5em;
    left: 50%;
    transform: translate(-50%);
    color: #043e5a;
}
.b-quote__words:before {
  content: '\201C';
}
.b-quote__words:after {
  content: '\201D';
  bottom: 0px;
  top: auto;
}
.b-quote__body {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .5em;
  text-align: center;
  line-height: 2;
  margin-left: 0;
  padding: 0;
}
.b-quote__attribution {
    font-style: italic;
    
    &:before {
      content: "– ";
      display: inline;
    }
}
.b-quote__attribution span {
  display: block;
}
.b-quote__attribution_2 {
  
  &:before {
    //content: ", ";
    //display: inline;
  }
}
.b-quote__attribution_3 {
  
  &:before {
    //content: ", ";
    //display: inline;
  }
}
/*********************************
CONTENT WITH MENU SLIDER STYLES
*********************************/
/*.b-wysiwyg__tags {
  ul {
    li {
    list-style-type: none;
    background: #eaeaea;
    display: inline-block;
    padding: .5em 0.8em;
    border-radius: 6px;
    margin: 0.4em 0.3em;
    }
  }
}*/
/*-------------------------------------------
 SPLIT SHOWCASE
--------------------------------------------
.b-split-showcase__headline {
  
}
.b-split-showcase__subhead {
  
}
.b-split-showcase__intro {
  
}
.b-split-showcase__button {
  
}
.b-section__split-showcase {
  .b-section__wrap-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;

    
  }
  .bx-wrapper {
    margin-bottom: 0 !important;
  }
}
.b-split-showcase__introduction {
  order: 1;
}
.b-split-showcase__features_right, .b-split-showcase__features_left {
  order: 2;
}

.b-showcase-item__title {
  
}

*/ 



/*-------------------------------------------
 VIDEO FEATURE
--------------------------------------------*/ 
.b-section_video-feature {
  .b-section__wrap-inner {
    display: flex;
    flex-direction: column;
  }
}
.b-section_video-feature__headline {
  text-align: left;
  margin-bottom: .5em;
}
.b-section_video-feature__intro {
  margin-top: .5em;
}
.b-video-poster {
  overflow: hidden;
  position: relative;
  display: inline-block;

}
.b-video-poster__play-button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('../images/icon-play-button.png') center center no-repeat;
  @include transition(all .65s ease-out);
}
.b-video-poster__play-button:hover {
  transform: scale(1.25, 1.25);
  transition: all 0.25s ease-out;
  background-color: rgba(000,000,000, .25)
}
.b-video-poster__link {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 65.25%;
  
  img {
    vertical-align: bottom;
    width: 100%;
  }
}

/*-------------------------------------------
 SEARCH RESULTS PAGE
--------------------------------------------*/ 
.search #main {
  width: 100%;
}
.b-search-title {
  background: $light-gray;
  padding: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
}
.b-headline_search-results {
  margin-bottom: 0;
  span {
    margin-left: 10px;
  }
}
.b-search-results_group-name {
    margin-bottom: .5em;
    margin-left: 0;
}
.b-search-results_group {
  @include flex-justify(flex-start);
    border-bottom: 1px solid $gray;
    padding-bottom: 1em;
    margin-bottom: 1em;
    
    .b-feature-event, .b-regular-post-item, .b-feature-card_programs, article {
      flex-basis: 100%;
      flex-grow: 0;
      margin: 1em 1.5%;
    }
    
    .b-feature-event {
      &:last-child {
        border-bottom: none;
      }
    }
    
    .b-resp-image {
      display: none;
    }
}
.b-result__link {
  display: block;
  margin-top: 1em;
}
/*-------------------------------------------
 RO: MENTORING MATTERS PROGRAMS
--------------------------------------------*/ 
.b-section-mentoring-matters-programs {}
.b-section__wrap-outer_mentoring-matters-programs {}
.b-section__wrap-inner_mentoring-matters-programs {
  padding-top: 0;
}
.b-mentoring-matters-programs {}
.b-mentoring-matters-programs_wrap {}
.b-mentoring-program {
  background: $light-gray;
  text-align: left;
  margin-bottom: 1.75em;
}
.b-mentoring-program__inner {
  padding: .25em 1.25em;
}
.b-mentoring-program__overview {}
.b-mentoring-program__title {
  margin-left: .15em;
    margin-bottom: 0.5em;
    margin-top: 0.6em;
}
.b-mentoring-program__org {
  margin: .25em 0;
  
  &>span {
    font-weight: bold;
    display: block;
  }
}
.b-mentoring-program__location {
  margin: .25em 0;
  
  &>span {
    font-weight: bold;
    display: block;
  }
}
.b-mentoring-program__do-label {
  font-size: 1.25em;
}
.b-mentoring-program__description {}
.b-mentoring-program__details {}
.b-mentoring-program__details-list {}
.b-mentoring-program__detail {
  @include flex(column);
  @include flex-justify(flex-start);
  align-items: flex-start;
  margin: 0 0 1em;
}
.b-mentoring-program__detail__label {
  font-weight: bold;
  max-width: 100%;
}
.b-mentoring-program__detail__value {
  max-width: 100%;
}
//SEE ALL BOX/BUTTON
.b-mentoring-program_see-all {}
.b-mentoring-program__inner_see-all {}
.b-mentoring-program__title_see-all {}


/********************
 * PLUGIN STYLES
 *******************/

//ADDTHIS SOCIAL SHARING
.addthis-smartlayers {
  display: none;
}
.b-share-buttons {
  padding: 1.5em 1.5em 0;
  @include flex(row);
  @include flex-justify(space-between);
}
.b-share-button {
  display: inline-block;
  vertical-align: middle;
  padding: 0 .25em;
  
  i {
    vertical-align: text-top;
  }
}
.b-share-button_label {
  padding: 0;
  text-transform: uppercase;
  font-size: .875em;
  line-height: 1.715;
}

//BXSLIDER
.bx-wrapper {
    margin: 0 auto 3.5em !important;
}
.bx-pager.bx-default-pager {
  bottom: -45px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: $white;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: $secondary-color;
}
.b-section_hero {
  
  .bx-wrapper {
    margin-bottom: 0 !important;
    
    .bx-pager {
      bottom: 8px;
    }
  }
}
.bx-wrapper .bx-controls-direction a {
  //visibility: hidden;
  opacity: 1;
  @include transition(visibility 0s ease-out, opacity 0.5s ease-out);
}
.b-section_hero:hover .bx-wrapper .bx-controls-direction a {
  //visibility: visible;
  opacity: 1;
}
.bx-custom-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  clear: both;
  position: relative !important;
  bottom: 0 !important;
  padding: 1.2em 0 !important;
  margin-top: 1em;
  
  .bx-pager-item {
    padding: 0 10px;      
      a {
        text-decoration: none;
      }
  }
}
//MAP ESCAPE//
/* default */

.map { top: 0px; left: 0; width: 100%; height: 350px;}
.map-wrapper { position: relative; overflow: hidden; width: 100%; }
/* top is set to 30px to allow for google maps controls. set to 0 if not using google maps */
.mapescape-scroll { background: transparent; z-index: 1; width: 40px; right: 0; bottom: 25%;  position: absolute; 
  transition:right .3s;
  -moz-transition:right .3s; /* Firefox 4 */
  -webkit-transition:right .3s; /* Safari and Chrome */
}
.mapescape-scroll.scroll-inactive { right: -40px; }
.mapescape-scroll-tab { width: 35px; height: 70px; right: 0; border-radius: 55px 0 0 55px; position: absolute; background: rgba(174,38,66,.7) url(../images/scroll-icon.png) 70% 50% no-repeat; color: #fff; background-size: 12px 25px;
  transition:top .3s;
  -moz-transition:top .3s; /* Firefox 4 */
  -webkit-transition:top .3s; /* Safari and Chrome */
}

/* active state */
.scroll-active .mapescape-scroll-tab:before { content: ' '; z-index: -1; display: block; position: absolute; left: -10px; top: -10px;  width: 45px; height: 90px; right: 0; border-radius: 55px 0 0 55px; position: absolute; background: rgba(255,255,255,.9);
 transition:top .3s;
  -moz-transition:top .3s; /* Firefox 4 */
  -webkit-transition:top .3s; /* Safari and Chrome */
 }

//CONTACT FORM 7 

div.wpcf7 .ajax-loader {
  margin: 0 0 12px 4px;
    vertical-align: bottom;
}

//FULLPAGE JS
.b-section_outer-pad {
  
  &.fp-section {
    margin: 0 auto !important;
    padding: 0;
  @include flex(column);
  @include flex-justify(center);
  text-align: center;
  overflow: hidden;
  }
}
.fp-tableCell {
    width: 100%;
    @include flex(column);
    @include flex-justify(center);
    
}
.fp-scrollable {
  @include flex(column);
    @include flex-justify(center);
}
.b-footer {
  .fp-tableCell {
    @include flex-justify(flex-end);
  }
}
.fp-scrollable {
  width: 100%;
}
.fp-slides {
  
  
  .fp-tableCell {
   height: unset !important; 
  }
}


/********************
 * STYLE OVERIDES
*********************/
.inverse_text {
  color: $white;

  a, a:visited {
    color: $white;
  
    /* on hover */
    &:hover, &:focus {
      color: $white;
    }
  
    /* on click */
    &:active {
  
    }
  
    /* mobile tap color */
    &:link {
      /*
      this highlights links on iPhones/iPads.
      so it basically works like the :hover selector
      for mobile devices.
      */
      -webkit-tap-highlight-color : rgba( 255, 255, 255, 0.3 );
    }
  }
  
  .b-hero__headline, .b-section-textphoto__title {
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  }
}
.inverse_text * {
  color: $white !important;
}

.b-anchor-tag {
  display: block;
  visibility: hidden;
}
